<section>
    <div class="block">
        <div class="container">
            <div class="evnt-wrp remove-ext8">
                <div class="evnt-bx">
                    <span class="ribbon"></span>
                    <div class="evnt-thmb"><a href="event-detail.html" title="" itemprop="url"><img src="../../../assets/images/events/evnt-img1-1.jpg" alt="evnt-img1-1.jpg" itemprop="image"></a></div>
                    <div class="evnt-inf">
                        <div class="evnt-inf-tp">
                            <span class="thm-clr">12.03.2019</span>
                            <span class="evnt-orgn">
                                <img src="../../../assets/images/orphanages/SIMAMISA-O.png" alt="evnt-orgn1-1.jpg" itemprop="image">
                                <div class="evnt-orgn-inf">
                                    <h2 itemprop="headline">Kingdom Life</h2>
                                </div>
                            </span>
                        </div>
                        <h1 itemprop="headline">Help others through the gift of your time, donations</h1>
                        <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit uam, odioserunt provident maiores consectetur adipisic Aliquam odio dese runtesseu</p>
                        <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit uam, odioserunt provident maiores consectetur adipisic Aliquam odio dese runtesseu</p>
                        <div class="evnt-inf-btm">
                            <a class="thm-btn2" href="event-detail.html" title="" itemprop="url">Join The Movement</a>
                            <span class="evnt-loc"><i class="fa fa-map-marker"></i><span>4801 Rockhill Road Kansas City, 64110</span></span>
                        </div>
                    </div>
                </div>
                <div class="evnt-bx rev">
                    <div class="evnt-thmb"><a href="event-detail.html" title="" itemprop="url"><img src="../../../assets/images/events/evnt-img1-2.jpg" alt="evnt-img1-2.jpg" itemprop="image"></a></div>
                    <div class="evnt-inf">
                        <div class="evnt-inf-tp">
                            <span class="thm-clr">05.03.2019</span>
                            <div class="evnt-orgn">
                                <img src="../../../assets/images/orphanages/SIMAMISA-O.png" alt="evnt-orgn1-2.jpg" itemprop="image">
                                <div class="evnt-orgn-inf">
                                    <h6 itemprop="headline">Smith Nolim</h6>
                                    <span>Organizer</span>
                                </div>
                            </div>
                        </div>
                        <h1 itemprop="headline"><a href="event-detail.html" title="" itemprop="url">Charity Event ideas to Engage Donors, Support</a></h1>
                        <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit uam, odioserunt provident maiores consectetur adipisic Aliquam odio dese runtesseu</p>
                        <div class="evnt-inf-btm">
                            <a class="thm-btn2" href="event-detail.html" title="" itemprop="url">Join The Movement</a>
                            <span class="evnt-loc"><i class="fa fa-map-marker"></i><span>4801 Rockhill Road Kansas City, 64110</span></span>
                        </div>
                    </div>
                </div>
                <div class="evnt-bx">
                    <div class="evnt-thmb"><a href="event-detail.html" title="" itemprop="url"><img src="../../../assets/images/events/evnt-img1-1.jpg" alt="evnt-img1-3.jpg" itemprop="image"></a></div>
                    <div class="evnt-inf">
                        <div class="evnt-inf-tp">
                            <span class="thm-clr">12.03.2019</span>
                            <div class="evnt-orgn">
                                <img src="../../../assets/images/orphanages/SIMAMISA-O.png" alt="evnt-orgn1-3.jpg" itemprop="image">
                                <div class="evnt-orgn-inf">
                                    <h6 itemprop="headline">Nolim Smith</h6>
                                    <span>Organizer</span>
                                </div>
                            </div>
                        </div>
                        <h1 itemprop="headline"><a href="event-detail.html" title="" itemprop="url">Know plenty of people who have skydiving.</a></h1>
                        <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit uam, odioserunt provident maiores consectetur adipisic Aliquam odio dese runtesseu</p>
                        <div class="evnt-inf-btm">
                            <a class="thm-btn2" href="event-detail.html" title="" itemprop="url">Join The Movement</a>
                            <span class="evnt-loc"><i class="fa fa-map-marker"></i><span>4801 Rockhill Road Kansas City, 64110</span></span>
                        </div>
                    </div>
                </div>
                <div class="evnt-bx rev">
                    <div class="evnt-thmb"><a href="event-detail.html" title="" itemprop="url"><img src="../../../assets/images/events/evnt-img1-4.jpg" alt="evnt-img1-4.jpg" itemprop="image"></a></div>
                    <div class="evnt-inf">
                        <div class="evnt-inf-tp">
                            <span class="thm-clr">05.03.2019</span>
                            <div class="evnt-orgn">
                                <img src="../../../assets/images/orphanages/SIMAMISA-O.png" alt="evnt-orgn1-4.jpg" itemprop="image">
                                <div class="evnt-orgn-inf">
                                    <h6 itemprop="headline">Smith Nolim</h6>
                                    <span>Organizer</span>
                                </div>
                            </div>
                        </div>
                        <h1 itemprop="headline"><a href="event-detail.html" title="" itemprop="url">Raise awareness for a cause and raise money</a></h1>
                        <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit uam, odioserunt provident maiores consectetur adipisic Aliquam odio dese runtesseu</p>
                        <div class="evnt-inf-btm">
                            <a class="thm-btn2" href="event-detail.html" title="" itemprop="url">Join The Movement</a>
                            <span class="evnt-loc"><i class="fa fa-map-marker"></i><span>4801 Rockhill Road Kansas City, 64110</span></span>
                        </div>
                    </div>
                </div>
                <div class="evnt-bx">
                    <div class="evnt-thmb"><a href="event-detail.html" title="" itemprop="url"><img src="assets/images/events/evnt-img1-5.jpg" alt="evnt-img1-5.jpg" itemprop="image"></a></div>
                    <div class="evnt-inf">
                        <div class="evnt-inf-tp">
                            <span class="thm-clr">12.03.2019</span>
                            <div class="evnt-orgn">
                                <img src="assets/images/events/evnt-orgn1-5.jpg" alt="evnt-orgn1-5.jpg" itemprop="image">
                                <div class="evnt-orgn-inf">
                                    <h6 itemprop="headline">Nolim Smith</h6>
                                    <span>Organizer</span>
                                </div>
                            </div>
                        </div>
                        <h1 itemprop="headline"><a href="event-detail.html" title="" itemprop="url">Events are a fantastic way to bring in new supporters</a></h1>
                        <p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit uam, odioserunt provident maiores consectetur adipisic Aliquam odio dese runtesseu</p>
                        <div class="evnt-inf-btm">
                            <a class="thm-btn2" href="event-detail.html" title="" itemprop="url">Join The Movement</a>
                            <span class="evnt-loc"><i class="fa fa-map-marker"></i><span>4801 Rockhill Road Kansas City, 64110</span></span>
                        </div>
                    </div>
                </div>
            </div><!-- Event Wrap Style 1 -->
            <div class="pgntin-wrp text-center">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link prev" href="#" title="" itemprop="url"><i class="fa fa-angle-left"></i></a></li>
                    <li class="page-item"><a class="page-link" href="#" title="" itemprop="url">1</a></li>
                    <li class="page-item active"><span class="page-link">2</span></li>
                    <li class="page-item"><a class="page-link" href="#" title="" itemprop="url">3</a></li>
                    <li class="page-item">......</li>
                    <li class="page-item"><a class="page-link" href="#" title="" itemprop="url">12</a></li>
                    <li class="page-item"><a class="page-link next" href="#" title="" itemprop="url"><i class="fa fa-angle-right"></i></a></li>
                </ul><!-- Pagination -->
            </div><!-- Pagination Wrap -->
        </div>
    </div>
</section>