<div *ngIf="!show()"id="header-holder" class="innerpage grey-bg">
    <div class="cloud-bg"></div>
      <div id="top-content" class="container-fluid">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="page-title">Newsfeeds</div>
                      <div class="page-subtitle">News Updates From All Our Orphanages</div>
                  </div>
              </div>
              <div class="clouds">
                <img  src="../../../assets/images/cloud1.svg" alt="" class="cloud1">
                <img style="top:210px" src="../../../assets/images/cloud2.svg" alt="" class="cloud2">
                <img style="top:160px" src="../../../assets/images/cloud3.svg" alt="" class="cloud3">
            </div>
          </div>
      </div>
  </div>


  <div class=" container-fluid"  style="padding-right: 0px;padding-left: 0px;">
    <div class="container"  style="padding-right: 0px; padding-left: 0px;">
        <!-- Start Page Header -->
    <div   *ngIf="show()" class="page-header" >
      <h1 class="title">Newsfeed</h1>
        <ol class="breadcrumb">
          <li class="active" style="font-size: 14px;">Your Orphanage's News Updates</li>
          <div *ngIf="show()" class="mt-3 mt-md-0">
            <button  type="button" class="btn btn-success waves-effect waves-light hbtn-primary" data-bs-toggle="modal" data-bs-target=""  ><span class="iconify" data-icon="mdi:plus-circle"></span> Add New Event</button>
        </div>
      </ol>

  
    </div>
    <!-- End Page Header -->
    </div>
  </div>


<section>
    <div class="block">
        <div class="container">
            <div class="evnt-wrp remove-ext8">
                <div class="evnt-bx">
                    <div class="evnt-thmb"><a href="event-detail.html" title="" itemprop="url"><img src="../../../assets/images/events/evnt-img1-1.jpg" alt="evnt-img1-1.jpg" itemprop="image"></a></div>
                    <div class="evnt-inf">
                        <div class="evnt-inf-tp">
                            <span class="thm-clr">12.03.2019</span>
                            <span class="evnt-orgn">
                                <img src="../../../assets/images/orphanages/SIMAMISA-O.png" alt="evnt-orgn1-1.jpg" itemprop="image">
                                <div class="evnt-orgn-inf">
                                    <h2 itemprop="headline">Kingdom Life</h2>
                                </div>
                            </span>
                        </div>
                        <h1 itemprop="headline">Praise Session: One of the best nights of the year!</h1>
                        <p itemprop="description">Yesterday was fantastic! We had a prayer session in our hall, and all of the children were overjoyed, praising alongside our guest.</p>
                        <p itemprop="description">Yesterday was fantastic! We had a prayer session in our hall, and all of the children were overjoyed, praising alongside our guest.</p>
                        <div class="donation-btns" *ngIf="show()">
                            <button  class="main-btn"   data-bs-toggle="modal" data-bs-target=""  >Edit <i class="far fa fa-pencil"></i></button>
                            <button  class="main-btn">Delete <i class="fa fa-trash"></i></button>
                        
                    </div>
                    </div>
                </div>
                <div class="evnt-bx rev">
                    <div class="evnt-thmb"><a href="event-detail.html" title="" itemprop="url"><img src="../../../assets/images/events/evnt-img1-2.jpg" alt="evnt-img1-2.jpg" itemprop="image"></a></div>
                    <div class="evnt-inf" style="margin-left: 45px;">
                        <div class="evnt-inf-tp">
                            <span class="thm-clr">12.03.2019</span>
                            <span class="evnt-orgn">
                                <img src="../../../assets/images/orphanages/SIMAMISA-O.png" alt="evnt-orgn1-1.jpg" itemprop="image">
                                <div class="evnt-orgn-inf">
                                    <h2 itemprop="headline">Kingdom Life</h2>
                                </div>
                            </span>
                        </div>
                        <h1 itemprop="headline">Charity Event ideas to Engage Donors, Support</h1>
                        <p itemprop="description">Yesterday was fantastic! We had a prayer session in our hall, and all of the children were overjoyed, praising alongside our guest.</p>
                        <p itemprop="description">Yesterday was fantastic! We had a prayer session in our hall, and all of the children were overjoyed, praising alongside our guest.</p>
                        <div class="donation-btns" *ngIf="show()">
                            <button  class="main-btn"   data-bs-toggle="modal" data-bs-target=""  >Edit <i class="far fa fa-pencil"></i></button>
                            <button  class="main-btn">Delete <i class="fa fa-trash"></i></button>
                        
                    </div>
                    </div>
                </div>

            </div><!-- Event Wrap Style 1 -->

        </div>
    </div>
</section>