.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    color: inherit;
    padding: 23px;
    border: 1px solid black;
    width: fit-content;
    border-radius: 5px;
    background: #FCE9DD
}
.panel-default>.panel-heading {

    display: flex;
    flex-direction: row-reverse;
}
.donation-amount{
    background: #FFB282;
    padding: 10px;
    border-radius: 7px;
    margin-left: 4px;
    font-weight: 500;
    box-shadow: 0 0px 10px rgb(0 0 0 / 10%);
}