.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    padding: 10px;
    border: 1px solid black;
    width: fit-content;
    border-radius: 5px;
    background: #FCE9DD
}
.panel-default>.panel-heading {

    display: flex;
    flex-direction: row-reverse;
}
.donation-amount{
    background: #FF7B29;
    padding: 6px;
    border-radius: 7px;
    margin-left: 4px;
    font-weight: 500;
}