<section>
    <div class="w-100 pt-100 pb-60 bg-color10">
        <div class="container">
            <div class="sec-title2 mb-70 text-center w-100">
                <div class="d-inline-block">
                    <h2 class="mb-0 text-uppercase text-color"><span>Our</span>Team</h2>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor</p>
                </div>
            </div><!-- Section Title Style 2 -->
            <div class="team-wrap text-center w-100">
                <div class="row justify-content-center">
                    <div class="col-md-3 col-sm-6 col-lg-3">
                        <article class="team-box w-100 mr-auto ml-auto">
                            <div class="team-img rounded-circle overflow-hidden">
                                <a href="javascript:void(0);" title=""><img src="../../../assets/images/team-img1-2.png" alt="Team Image 1"></a>
                            </div>
                            <div class="team-info w-100 text-color12">
                                <h3 class="mb-0"><a href="javascript:void(0);" title="">Nontsikelelo<br>Ndumo</a></h3>
                                <span class="d-block"><a href="javascript:void(0);" title="">Marketing Head</a></span>
                        
                            </div>
                        </article>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-3">
                        <article class="team-box w-100 mr-auto ml-auto">
                            <div class="team-img rounded-circle overflow-hidden">
                                <a href="javascript:void(0);" title=""><img src="../../../assets/images/team-img1-3.png" alt="Team Image 2"></a>
                            </div>
                            <div class="team-info w-100 text-color12">
                                <h3 class="mb-0"><a href="javascript:void(0);" title="">Onalenna<br>Ketshabile</a></h3>
                                <span class="d-block"><a href="javascript:void(0);" title="">Advisor</a></span>
                            
                            </div>
                        </article>
                    </div>
                    <div class="col-md-3 col-sm-6 col-lg-3">
                        <article class="team-box w-100 mr-auto ml-auto">
                            <div class="team-img rounded-circle overflow-hidden">
                                <a href="#" title=""><img src="../../../assets/images/team-img1-2.png" alt="Team Image 3"></a>
                            </div>
                            <div class="team-info w-100 text-color12">
                                <h3 class="mb-0"><a href="#" title="">Omphile<br>Monchwe</a></h3>
                                <span class="d-block"><a href="#" title="">Vice President</a></span>
                            
                            </div>
                        </article>
                    </div>

                </div>
            </div><!-- Team Wrap -->
        </div>
    </div>
</section>