<div class="chat col-lg-9 col-md-8 padding-0">

    <!-- Start Title -->
    <div class="title">
      <h1>Index Design and Some Advice <small>( mail@jonathandoe.com )</small></h1>
      <p><b>To:</b> Me, Jane, John</p>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-icon btn-sm btn-light"><i class="fa fa-share"></i></button>
          <button type="button" class="btn btn-icon btn-sm btn-light"><i class="fa fa-star-o"></i></button>
          <button type="button" class="btn btn-icon btn-sm btn-light"><i class="fa fa-trash"></i></button>
        </div>
    </div>
    <!-- End Title -->

    <!-- Start Conv -->
    <ul class="conv">

      <li>
        <img src="../../../../assets/images/defaultImage.jpg" alt="img" class="img">
        <p class="ballon color1">Problems look mighty small from 150 miles up.</p><br>
        <p class="ballon color1">For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.</p><br>
        <p class="addition"><i class="fa fa-file-o"></i><b>Index.psd</b> - 32 MB - <a href="#">Download</a></p>
      <li>

      <li>
        <img src="../../../../assets/images/avatar-1.jpg" alt="img" class="img">
        <p class="ballon color2">I'm working on it</p><br>
      <li>

      <li class="date">Last Message: <b>1 hours</b> ago</li>

      <li>
        <img src="../../../../assets/images/avatar-1.jpg" alt="img" class="img">
        <p class="ballon color2">Done, Uploading one sec.</p><br>
        <p class="ballon color2">Here ༼ つ ◕_◕ ༽つ</p><br>
        <p class="addition"><i class="fa fa-file-o"></i><b>New-Index.psd</b> - 36 MB - <a href="#">Download</a></p>
      <li>

      <li>
        <img src="../../../../assets/images/defaultImage.jpg" alt="img" class="img">
        <p class="ballon color1">Thanks, it works perfectly</p><br>
        <p class="ballon color1">...</p><br>
      <li>

    </ul>
    <!-- End Conv -->

    <div class="write">
        <form class="margin-b-20">
          <p><textarea class="textarea form-control wysihtml5-textarea" placeholder="Enter text ..."  style="height:200px; width:100%;"></textarea></p>

          <button class="btn btn-default">Send Post</button>
          <button type="reset" class="btn margin-l-5">Clear</button>
        </form>
    </div>


  </div>