
<div class="dashHeading">Total Needs Proposed Versus Total Need Met For All Orphanages</div>
<div id="chartContainer" style="margin: 30px 0px;">
<canvas id="barChart" height="90"></canvas>
</div>
<div class="dashHeading" style="margin: 30px 0px;">Total needs met in different priority categories</div>  
<div id="chartContainer">
   
    <select  (change)="updateMonth($event.target)" style="    background: #FFB282;color: #807066;padding: 5px;border-radius: 5px;">
        <option value="jan"> Jan 2022</option>
        <option value="feb"> Feb 2022</option>
        <option value="mar"> Mar 2022</option>
        <option value="apr"> Apr 2022</option>
        <option value="may"> May 2022</option>
        <option value="jun"> June 2022</option>
        <option value="jul"> Jul 2022</option>
        <option value="aug"> Aug 2022</option>
        <option value="sep"> Sep 2022</option>
        <option value="oct"> Oct 2022</option>

    </select>
    <canvas id="lineChart" ></canvas>
</div>
    
