<div id="header-holder" class="innerpage grey-bg">
    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">Sponsor a child</div>
                    <div class="page-subtitle">Children from different orphanages</div>
                </div>
            </div>
        </div>
    </div>
</div>

	<!--====== Project Details Area Start ======-->
	<section class="project-details-area section-gap-extra-bottom">
		<div class="container">
			<div class="row align-items-center justify-content-center body">
				<div class="col-lg-6 col-md-10">
					<div class="project-thumb mb-md-50">
						<img class="img-child" src="../../../assets/images/sponsor/dynamite.jpg" alt="Image">
					</div>
				</div>
				<div *ngIf="child">
				<div class="col-lg-6">
					<div class="project-summery">
						<h3 class="project-title">
							{{child.Nickname}}
						</h3>
                        <p>6 Years Old</p>
						<div class="meta">
							<div class="author">
								<img src="../../../assets/images/orphanages/KingdomLife.png" alt="Thumb">
								<a href="#">orphanage.Name</a>
							</div>
  
						</div>
                        				
						<div class="description-content">
							<h4 class="description-title">Description</h4>
                            child.description
						    <h4 class="description-title">Interest</h4>
						   <ul>
							<li>list</li>
							<li>list</li>
							<li>list</li>
						   </ul>
						</div>
			
						<div class="project-form">
								<button type="submit" class="main-btn">Query Profile<i class="far fa-arrow-right"></i></button>
								<button type="submit" class="main-btn" data-bs-toggle="modal" data-bs-target="#custom-modal" (click)="openModal()">Sponsor this Child<i class="far fa-arrow-right"></i></button>
							
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="project-details-tab">


					</div>
				</div>
			</div>
		</div>
	</div>
	</section>

	<!--====== Project Details Area End ======-->