<div id="header-holder" class="innerpage grey-bg">
    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">Sponsor a child</div>
                    <div class="page-subtitle">Children from different orphanages</div>
                </div>
            </div>
        </div>
    </div>
</div>

	<!--====== Project Details Area Start ======-->
	<section class="project-details-area section-gap-extra-bottom">
		<div class="container">
	
			<div class="row align-items-center justify-content-center body">
				<div class="col-lg-12 col-md-10 top-heading">Child Profile</div>
				<div class="col-lg-6 col-md-10">
					<div class="project-thumb mb-md-50">
						<img class="img-child" src="../../../assets/images/sponsor/dynamite.jpg" alt="Image">
					</div>
				</div>
				<div *ngIf="child">
				<div class="col-lg-6">
					<div class="project-summery">
						<span>
						<h3 class="project-title" >
							{{child.Nickname}}
						</h3>
					</span> 
					<span  class="project-title"> ({{Age}} Years Old)</span>
						<div class="meta">
							<div class="author">
								<span>From: </span>
								<img src="../../../assets/images/orphanages/KingdomLife.png" alt="Thumb">
								<a href="#">orphanage.Name</a>
							</div>
  
						</div>

						
                        				
						<div class="description-content" >
							<p style="margin-bottom: 18px;">{{child.ChildDescription}}</p>
                        
							<h4 class="description-title">Struggles:</h4>
						
							<p style="margin: 10px 0px;">{{child.ChildStruggles}}</p>
						    <h4 class="description-title">Interest:</h4>
							<p style="margin: 10px 0px;">{{child.ChildInterest}}</p>
						</div>
			
						<div class="project-form">
						
								<button type="submit" class="main-btn" >Sponsor this Child<i class="far fa-arrow-right"></i></button>
							
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="project-details-tab">


					</div>
				</div>
			</div>
		</div>
	</div>
	</section>

	<!--====== Project Details Area End ======-->