<div class="panel panel-default"> 
    <div hidden class="panel-heading"> 
      <div class="panel-title">Orphanage Item Inventory.
      </div> 

    </div> 
    <div class="panel-body with-table">
      <table class="table table-bordered table-responsive"> 
        <thead> 
          <tr> 
            <th>#
            </th> 
            <th>Name
            </th> 
            <th>Offences
            </th> 
            <th>Total
            </th>
        
          </tr> 
        </thead> 
        <tbody> 
         
              <tr app-table-row-unreliable-users  *ngFor="let managerUnrealiableUser of managerUnrealiableUsers" [managerUnrealiableUser]="managerUnrealiableUser"  >
                                        
                      
            </tr>
          
          
        </tbody> 
      </table>
    </div> 
  </div>
  