<!--   
  <div class="modal" tabindex="-1" id="custom-modal" data-backdrop="false" role="dialog" aria-hidden="true" class="modal" tabindex="-1" id="custom-modal" data-backdrop="false" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h4 class="modal-title" id="myCenterModalLabel">Set Up A Meeting With Orphanage Manager</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
      </div>
      <div class="modal-body">
          <form #setUpMeetingForm="ngForm" (ngSubmit)="setUpMeeting(setUpMeetingForm.value)">

              <div class="mb-3">
                  <label for="" class="form-label">Choose a date</label>
                  <div>
                    <input style="width: 100%; padding: 5px ; border-radius: 5px;border: 1px solid #ccc" type="date" id="date" name="date" runat="server" name="date" class="date-input"  placeholder="Meeting date" onfocus="(this.type='date')" ngModel required>
                 
                  </div>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Time</label>
                <div>
                <input style="width: 100%; padding: 5px ; border-radius: 5px;border: 1px solid #ccc" type="time" id="time" name="time" runat="server"  placeholder="Time" required ngModel>
                </div>
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Venue</label>
              <div>
                <select  name="venue" style="width: 100%; padding: 5px ; border-radius: 5px;border: 1px solid #ccc" required ngModel>
                  <option  >Online</option>
                  <option>In-person</option>
                </select>
              </div>
          </div>

                  <button type="submit" class="btn btn-light waves-effect waves-light">Submit</button>
                  <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal">Cancel</button>
          </form>
      </div>
      </div>
    </div>
  </div> -->
  <div  class="modal" tabindex="-1" id="custom-modal" data-backdrop="false" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h4 class="modal-title" id="myCenterModalLabel">Get The Mobile App</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="showQR()">
            <p>Sponsoring A child is A Beautiful commitment, Get The Mobile app stay connected</p>
            <qrcode qrdata="myAngularQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
            <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal">Cancel</button>
        
          </div>
          <div *ngIf="!showQR()">
            <p>Don't have an account? Register With Simamisa</p>
            <div class="col-sm-7">
              <div class="b-text">
                <a href="/register" routerLink="/register" class="hbtn hbtn-primary hbtn-lg btn-donate" data-bs-dismiss="modal" >Register</a>
    
              </div>
              
                 </div>
                 <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal">Cancel</button>
        
          </div>
           
        </div>
      </div>
    </div>
  </div>
