  
  <div class="modal" tabindex="-1" id="custom-modal" data-backdrop="false" role="dialog" aria-hidden="true" class="modal" tabindex="-1" id="custom-modal" data-backdrop="false" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h4 class="modal-title" id="myCenterModalLabel">Upload Required Documents</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
      </div>
      <div class="modal-body">
        <div *ngIf="showQR()">
          <form #Form="ngForm">
<div>
  <h1>Togethe we can grow</h1>
  <h2>Begin you Sponsoring Journey</h2>
  <h3>Upload your documents, the manager at this orphanage will email you a meeting invite</h3>
  <br>
</div>
            <div class="mb-3">
              <label for="" class="form-label">Upload Your National ID</label>
              <div>
                <input name = "id" type="file"  (change)="uploadID($event)"  style="width: 100%; padding: 5px ; border-radius: 5px;border: 1px solid #ccc ;background-color: white" ngModel required>
                <mat-progress-spinner *ngIf="loadingID" mode="indeterminate" color="warn" diameter="20">
                </mat-progress-spinner>
                <img *ngIf="gotID" src={{check}} id="new" style="border: 1px solid #ddd;
                border-radius: 4px;
                padding: 5px;
                width: 30px;" id="old">
              </div>
          </div>

          <div class="mb-3">
            <label for="" class="form-label">Income statement / Affidavit 
              <div hidden id="tooltip">
              <span id="tooltipText">Info</span>
              <span><i  class="fa fa-info-circle" aria-hidden="true"></i></span>
              </div>
            </label>
            <div>
              <input type="file" name="StateAffi" (change)="uploadIncomeS($event)" style="width: 100%; padding: 5px ; border-radius: 5px;border: 1px solid #ccc ;background-color: white" ngModel required>
              <mat-progress-spinner *ngIf="loadingIncome" mode="indeterminate" color="warn" diameter="20">
              </mat-progress-spinner>
              <img *ngIf="gotIncome" src={{check}} id="new" style="border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 30px;" id="old">
            </div>
        </div>

              <!-- <div class="mb-3">
                  <label for="" class="form-label">Choose a date</label>
                  <div>
                    <input style="width: 100%; padding: 5px ; border-radius: 5px;border: 1px solid #ccc" type="date" id="date" name="date" runat="server" name="date" class="date-input"  placeholder="Meeting date" onfocus="(this.type='date')" ngModel required>
                 
                  </div>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">Time</label>
                <div>
                <input style="width: 100%; padding: 5px ; border-radius: 5px;border: 1px solid #ccc" type="time" id="time" name="time" runat="server"  placeholder="Time" required ngModel>
                </div>
            </div>

            <div  class="mb-3">
              <label for="" class="form-label">Venue</label>
              <div>
                <select  name="venue" style="width: 100%; padding: 5px ; border-radius: 5px;border: 1px solid #ccc" required ngModel>
                  <option  >Online</option>
                  <option>In-person</option>
                </select>
              </div>
          </div> -->

                  <button type="submit" class="btn btn-light waves-effect waves-light">Submit</button>
                  <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal">Cancel</button>
          </form>
          </div>
          <div *ngIf="!showQR()" style="display: flex; justify-content: center; flex-wrap: wrap;">
            <p><strong>Don't have an account? Register With Simamisa</strong></p>
            <div class="col-sm-7">
              <div class="b-text" style="display: flex;justify-content: space-evenly; width:100%;">
                <a href="/register" routerLink="/register" class="hbtn hbtn-primary hbtn-lg btn-donate" data-bs-dismiss="modal" >Register</a>
                <a  class="hbtn hbtn-primary hbtn-lg btn-donate" data-bs-dismiss="modal" >Cancel</a>
              </div>
              
                 </div>
    
        
          </div>
      </div>
      </div>
    </div>
  </div>
  <!-- <div  class="modal" tabindex="-1" id="custom-modal" data-backdrop="false" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h4 class="modal-title" id="myCenterModalLabel">Get The Mobile App</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-lg" aria-hidden="true"></i></button>
        </div>
        <div class="modal-body">
          <div *ngIf="showQR()">
            <p>Sponsoring A child is A Beautiful commitment, Get The Mobile app stay connected</p>
            <qrcode qrdata="myAngularQrCode" style=" display: flex;justify-content: center;" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
            <button type="button" class="btn btn-light waves-effect waves-light" data-bs-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal">Cancel</button>
        
          </div>
          <div *ngIf="!showQR()" style="display: flex; justify-content: center; flex-wrap: wrap;">
            <p><strong>Don't have an account? Register With Simamisa</strong></p>
            <div class="col-sm-7">
              <div class="b-text" style="display: flex;justify-content: space-evenly; width:100%;">
                <a href="/register" routerLink="/register" class="hbtn hbtn-primary hbtn-lg btn-donate" data-bs-dismiss="modal" >Register</a>
                <a  class="hbtn hbtn-primary hbtn-lg btn-donate" data-bs-dismiss="modal" >Cancel</a>
              </div>
              
                 </div>
    
        
          </div>
           
        </div>
      </div>
    </div>
  </div> -->
