<td>
                                                 
    <div class="need-image">
        <img src="./../../../../assets/../assets/images/newsfeed/schoolshoe.jpg" alt="Image">
    </div>

</td>
<td>{{childneed.Title}}</td>
<td>{{childneed.Description}}</td>
<td>{{childneed.AmountNeeded}}</td>

<td>
<div class="d-flex gap-2">
  
    <div class=".hbtn .hbtn-primary">
        <a   [routerLink]="['../editchildneed', childneed.ID]" class="hbtn hbtn-primary">Edit</a>
    </div>
    <div class=".hbtn .hbtn-primary">
        
        <button  (click)="deleteChildNeed()" class="hbtn hbtn-primary">Delete</button>
    </div>
  
</div>
</td>
