<!-- <td>
                                                 
    <div class="need-image">
        <img src="./../../../../assets/../assets/images/newsfeed/schoolshoe.jpg" alt="Image">
    </div>

</td> -->
<td>{{childneed.Title}}</td>
<td>{{childneed.Description}}</td>
<td>{{childneed.AmountNeeded}}</td>

<td>

<div *ngIf="!isUpdating" class="d-flex gap-2">
  
    <div class=".hbtn .hbtn-primary">
        <a (click)="editChildNeed()" data-bs-toggle="modal" data-bs-target="#editChildNeed-modal" class="hbtn hbtn-primary" >Edit <i class="far fa fa-pencil"></i></a>
    </div>
    <div>
        
        <button  (click)="deleteChildNeed()" class="hbtn hbtn-primary">Delete<i class="fa fa-trash"></i></button>
    </div>
  
</div>
<mat-progress-spinner *ngIf="isUpdating" mode="indeterminate" color="warn" diameter="20"></mat-progress-spinner>
        
</td>
