<div class="col-xl-10">
    <div class="project-item mb-30">
        <img hidden class="thumb" src={{need.ItemImage}} >
        <div class="content">

            <h4 class="title">
                <a href="project-details.html">{{need.Title}}</a>
            </h4>
            <div class="author">
                <img src="../../../assets/images/orphanages/KingdomLife.png" alt="Thumb">
                <a href="#">{{orphName}}</a>
            </div>	
            <div class="project-details-tab">

                <div class="description-content">
                    <p class="description">
                        {{descriptionToShow}}  </p>
                  <button *ngIf="showReadMore" (click)="onReadMore(need)">Read More</button>
                  <button *ngIf="showShowLess" (click)="onShowless(need)">Show Less</button>
            
                </div>

            </div>		
            <div class="project-stats">
                <div class="stats-value">
                    <p class="value-title">Amount Needed <span class="value">R{{amntNeeded}}</span></p>
                    <br/>
                    <span class="stats-percentage">{{progress}}%</span>
                </div>
                <!-- Use the progress here -->
                <div class="stats-bar" attr.data-value={{progress}}>
                    <div class="bar-line"></div>
                </div>
            </div>
            <span class="date"><i class="far fa-calendar-alt"></i> {{date}}</span>
            
        </div>
        <div class="donation-btns">
          
            <div *ngIf="isSponsor()">
                <button  class="main-btn"   data-bs-toggle="modal" data-bs-target="#editNeed-modal"  (click)="editNeed()">Edit Need <i class="far fa-arrow-right"></i></button>
                <button  class="main-btn" (click)="deleteNeed()">Delete Need <i class="far fa-arrow-right"></i></button>
               
            </div>
        </div>
    </div>
</div>
