
<section class="event-area section-gap-extra-bottom">
    <div class="container">
        <div class="event-items">
        
            <div class="single-event-item mb-30 wow fadeInUp" data-wow-delay="0.2s">
                <div class="event-thumb">
                    <img src="../../../../assets/images/offer.png" alt="Image">
                </div>
                <div class="event-content">
 

                    
                    <h4 class="event-title"><a href="#">{{offer.Title}}</a></h4>
                    <div style="color: #CC8E68; font-weight:500;font-size: 15px; margin-bottom: 20px"><i style="margin-right: 5px;" class="fa-solid fa-share"></i>Made By:    {{offer.Sender}}</div>
                    <p style="min-width: 400px; max-width: 400px;">
                        {{offer.Description}}
                     
                    </p>
                </div>

                <div class="buttons-container">
                <div class="event-button">
                    <a id="btnAccept" data-bs-toggle="modal" data-id="10111" data-bs-target="#acceptOffer-modal" (click)="selected(offer)" class="main-btn bordered-btn">Accept Offer <i class="fa fa-arrow-right"></i></a>
                </div>
                <div  class="event-button">
                    <a  class="main-btn bordered-btn"  (click)="forgo(offer)"> Forgo Offer<i class="fa fa-arrow-right"></i></a>
                </div>
                </div>
            </div>
            
         
           
        </div>
    </div>
</section>