<section class="event-area section-gap-extra-bottom">
    <div class="container">
        <div class="event-items">
        
            <div class="single-event-item mb-30 wow fadeInUp" data-wow-delay="0.2s">
                <div class="event-thumb">
                    <img src="../../../../assets/images/newsfeed/jackets.jpg" alt="Image">
                </div>
                <div class="event-content">
 
                    <h4 class="event-title"><a href="#">50 Jackets</a></h4>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error voluptatem accus laudantium totam rem aperiam eaque
                    </p>
                </div>

                <div class="buttons-container">
                <div class="event-button">
                    <a href="project-details.html" class="main-btn bordered-btn">Accept Offer <i class="far fa-arrow-right"></i></a>
                </div>
                <div class="event-button">
                    <a href="project-details.html" class="main-btn bordered-btn">Forgo Offer<i class="far fa-arrow-right"></i></a>
                </div>
                </div>
            </div>
            
         
           
        </div>
    </div>
</section>