<app-modal-accept-offer [offer]="offer"></app-modal-accept-offer>
<section class="event-area section-gap-extra-bottom">
    <div class="container">
        <div class="event-items">
        
            <div class="single-event-item mb-30 wow fadeInUp" data-wow-delay="0.2s">
                <div class="event-thumb">
                    <img src="../../../../assets/images/newsfeed/jackets.jpg" alt="Image">
                </div>
                <div class="event-content">
 
                    <h4 class="event-title"><a href="#">{{offer.Title}}</a></h4>
                    <p>
                        {{offer.Description}}
                    </p>
                </div>

                <div class="buttons-container">
                <div class="event-button">
                    <a id="btnAccept" data-bs-toggle="modal" data-id="10111" data-bs-target="#acceptOffer-modal" (click)="selected(offer)" class="main-btn bordered-btn">Accept Offer <i class="far fa-arrow-right"></i></a>
                </div>
                <div class="event-button">
                    <a href="project-details.html" class="main-btn bordered-btn">Forgo Offer<i class="far fa-arrow-right"></i></a>
                </div>
                </div>
            </div>
            
         
           
        </div>
    </div>
</section>