<div class="page-header" >
    <h1 class="title">Partnership</h1>
      <ol class="breadcrumb">
        <li class="active">My Orphanage Partners</li>
        <div class="mt-3 mt-md-0">
          <!--<button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#custom-modal" (click)="openModal()" ><span class="iconify" data-icon="mdi:plus-circle"></span> Add New Need</button> -->
      </div>
    </ol>

    <!-- Start Page Header Right Div -->
    <div hidden class="right">
      <div class="btn-group" role="group" aria-label="...">
        <a href="index.html" class="btn btn-light">View Needs</a>
        <a href="#" class="btn btn-light">View Events</a>
      </div>
    </div>
    <!-- End Page Header Right Div -->
  </div>
  <app-view-mypartners *ngFor="let orphanage of orphanages" [orphanage]="orphanage"></app-view-mypartners>

  
  <div class="view-more-btn text-center mt-80">
    <a href="project-1.html" class="main-btn bordered-btn">View More Partners <i class="fa fa-arrow-right"></i></a>
</div>