<div id="header-holder" class="innerpage grey-bg">
    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">Item Proposals</div>
                    <div class="page-subtitle">All item proposals to orphanages</div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="page-content" style="padding-top: 20px;">
    <div class="container-fluid">

        <!-- start page title -->
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card this-component">
                    <div class="switch-buttons">
                        <a class="hbtn hbtn-primary" (click)="showPickUps()">PickUps</a>
                        <a class="hbtn hbtn-primary" (click)="showDropOff()">DropOffs</a>
  
                    </div>
                    <div>           <div class="form-group" >
                        <ng-select [items]="filters"
                        bindLabel="name"
                        bindValue="id"
                        (change)="updateFilter()"
                        [(ngModel)]="filterval">
             </ng-select>
                    </div>
                 </div>
                    <div class="card-body" [ngSwitch]="activeLayout">

                        <!--DropOff Layout-->
                        <div *ngSwitchCase="'dropoffs'">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="mb-3">


                                        <h5 class="big-title">DropOff<span class="text-muted fw-normal ms-2"></span>
                                        </h5>
                                    </div>
                                </div>


                                <div class="table-responsive mb-4">
                                    <table class="table align-middle datatable dt-responsive table-check nowrap"
                                        style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                        <thead>
                                            <tr>


                                                <th scope="col">Item name</th>
                                                <th scope="col"># Items</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Note to manager</th>
                                                <th scope="col">User Phone number</th>
                                                <th scope="col">status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            <tr>

                                                <app-dropoff-item *ngFor="let proposal of proposals"
                                                    [proposal]="proposal" (elementUpdated)="onElementUpdated($event)">
                                                </app-dropoff-item>

                                            </tr>

                                        </tbody>
                                    </table>
                                    <!-- end table -->
                                </div>
                                <!-- end table responsive -->

                            </div>

                        </div>
                        <!--End Of DropOff-->
                        <!--Pickup Layout-->
                        <div *ngSwitchCase="'pickups'">

                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="mb-3">


                                        <h5 class="big-title">PickUps<span class="text-muted fw-normal ms-2"></span>
                                        </h5>
                                    </div>
                                </div>


                                <div class="table-responsive mb-4">
                                    <table class="table align-middle datatable dt-responsive table-check nowrap"
                                        style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                        <thead>
                                            <tr>


                                                <th scope="col">Item name</th>
                                                <th scope="col"># Items</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Specified Address</th>
                                                <th scope="col">Note to manager</th>
                                                <th scope="col">User Phone number</th>
                                                <th scope="col">status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>

                                                <app-pickup-item *ngFor="let proposal of proposals"
                                                [proposal]="proposal" (elementUpdated)="onElementUpdated($event)">
                                            </app-pickup-item>

                                            </tr>

                                        </tbody>
                                    </table>
                                    <!-- end table -->
                                </div>
                                <!-- end table responsive -->

                            </div>

                        </div>
                        <!--End Of Pickup-->

                    </div>
                </div>
            </div>

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
    <!-- end main content-->

    <!-- END layout-wrapper -->