<div  class="header-holder" *ngIf="!showHeader()" >
    
    <nav class="navbar navbar-full" >
        <div class="container-fluid">
            <div class="container container-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                            <a class="navbar-brand" href="index.html"><img src="assets/images/SimamisaLogo2.svg" alt="Simamisa"></a>
                        </div>
                        
                    
                            <div>
                                <ul class="auth-btns">
                                <li> <!--TODO: CHANGE THE TEXT CLASS AND SIMILAR ONE-->
                                    <div class="filtering-container">
                                        
                                    <!-- <span class="orphanage-text">Show Orphanage: </span>
                                    <a href="" class="hbtn hbtn-selector hbtn-lg">All more orphanages availabeledfdffff </a>
                                     -->
                                </div>
                                </li>

                                <li *ngIf="(LoginStatus | async ) as LoginStatus"> <app-avatar [name]="(UserName|async)"></app-avatar> </li>
                                <li *ngIf="!(LoginStatus | async ) as LoginStatus"><a href="login" style="margin-bottom: 3px;" routerLink="login" class="hbtn hbtn-tertiary hbtn-lg">Log In</a></li>
                                <li *ngIf="!(LoginStatus | async ) as LoginStatus"><a href="register" style="margin-bottom: 3px;" routerLink="register" class="hbtn hbtn-primary hbtn-lg">Register</a></li>
                                <li  hidden *ngIf="(LoginStatus | async ) as LoginStatus" ><a href="home" routerLink="logout" class="hbtn hbtn-primary hbtn-lg">Logout</a></li>
                                
                                  </ul>
                            </div>
                        

                        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse navbar-collapse-centered" id="bs">
                            <ul class="nav navbar-nav navbar-nav-centered"  id="menu">
                                <li class="nav-item"><a class="nav-link " href="home" routerLink="home" [routerLinkActive]="['active']">Home</a></li>
                                <li class="nav-item">
                                    <a class="" href="orphanages" routerLink="orphanages" [routerLinkActive]="['active']">Orphanages</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="newsfeed" routerLink="newsfeed" [routerLinkActive]="['active']">Newsfeed</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="sponsor-child" routerLink="sponsor-child" [routerLinkActive]="['active']">Sponsor a child</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="donate" routerLink="donate" [routerLinkActive]="['active']">Donate</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Become a volunteer</a>
                                </li>
                                <li class="nav-item"> 
                                    <a  id="fundraising" class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fundraising</a>
                                    <ul class="dropdown-menu">
                                        <li><a id="shop" class="dropdown-item" href="index3.html">Charity Shop</a></li>
                                        <li><a id="talents" class="dropdown-item" href="index4.html">Talents</a></li>
                                    </ul>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="infohub" routerLink="infohub">Information Hub</a>
                                </li> -->

                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>