<div class="page-header" >
    <h1 class="title">Sponsorship</h1>
      <ol class="breadcrumb">
        <li class="active">Children's Needs</li>
        <div class="mt-3 mt-md-0">
          <!--<button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#custom-modal" (click)="openModal()" ><span class="iconify" data-icon="mdi:plus-circle"></span> Add New Need</button> -->
      </div>
    </ol>

    <!-- Start Page Header Right Div -->

    <!-- End Page Header Right Div -->

  </div>

<section class="event-area section-gap-extra-bottom">
    <div class="container">
      <div *ngIf="loadingHandler.isLoading | async" class="row" >
        <div class="col-sm-12">
          <div style="margin-left:500px; margin-top:30px">
            <app-loading-indicator></app-loading-indicator>
          </div>
        
        </div>
      </div>
      <div class="con" style="min-height: 420px;">
        <app-child-item-manager *ngFor="let child of children" [child]="child"></app-child-item-manager>        
    </div>
      </div>
</section>