<div class="page-header" >
    <h1 class="title">Sponsorship</h1>
      <ol class="breadcrumb">
        <li class="active">Children's Needs</li>
        <div class="mt-3 mt-md-0">
          <!--<button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#custom-modal" (click)="openModal()" ><span class="iconify" data-icon="mdi:plus-circle"></span> Add New Need</button> -->
      </div>
    </ol>

    <!-- Start Page Header Right Div -->

    <!-- End Page Header Right Div -->

  </div>
<div>           <div class="form-group" style="margin-left: 10px !important;display: flex;align-items: center; ">
    <span><i style="margin-right: 3px;" class="fa fa-filter" aria-hidden="true"></i>Filter:</span>
    <ng-select style="margin-top: 5px;display: inline-flex; padding-bottom: 0px; margin-left: 5px" [clearable]="false" [items]="filters" class="ngselectStyle"
    bindLabel="name"
    bindValue="id"
    (change)="updateFilter()"
    [(ngModel)]="filterval">
</ng-select>
</div>
</div>
<div class="col-sm-12" style="display: flex; justify-content: center; align-items: center; margin: 10px 0px 20px;">
  <div class="search-question-holder">
    <form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)">
        <input class="search-input" name="name" type="text" placeholder="Search child . . ." required ngModel/><input type="submit" class="hbtn hbtn-primary btn-search" value="Search"/>
    
    </form>
  </div> 
</div>

<section class="event-area section-gap-extra-bottom">
    <div class="container">
      <div  *ngIf="loaderService.isLoading | async" class="row" >
        <div class="col-sm-12">
            <div style="margin-left:400px;margin-top:30px;margin-bottom:30px">
                <app-loading-indicator></app-loading-indicator>
            </div>
        
        </div>
      </div>
      <div class="con" style="min-height: 420px;">
        <app-child-item-manager *ngFor="let child of children" [child]="child"></app-child-item-manager>        
    </div>
      </div>
</section>