<div id="header-holder" class="innerpage grey-bg">
    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">Sponsor a child</div>
                    <div class="page-subtitle">Children from different orphanages</div>
                </div>
            </div>
            <div class="clouds">
                <img  src="../../../assets/images/cloud1.svg" alt="" class="cloud1">
                <img style="top:210px" src="../../../assets/images/cloud2.svg" alt="" class="cloud2">
                <img style="top:160px" src="../../../assets/images/cloud3.svg" alt="" class="cloud3">
            </div>

        </div>
    </div>
</div>

 <section class="pb-0" id="blog">
    <div *ngIf="!invalidUser" class="container">
        <div  *ngIf="loaderService.isLoading | async" class="row" >
            <div class="col-sm-12">
                <div style="margin-left:500px;margin-top:30px;margin-bottom:30px">
                    <app-loading-indicator></app-loading-indicator>
                </div>        
            </div>
        </div>
      <div class="row mt-50">
       <app-childitem  *ngFor="let child of children | paginate: { itemsPerPage: 9, currentPage: page,totalItems:totalLength };" (imClicked)="onChildClicked($event)" [child]="child"></app-childitem>

     
      </div>
      <div  class="row" style="text-align:center;">

		<pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
	</div>
    </div>
 
  </section>
  <!--=== Blogs End ===-->

