<div id="header-holder" class="innerpage grey-bg">
    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">Sponsor a child</div>
                    <div class="page-subtitle">Children from different orphanages</div>
                </div>
            </div>

        </div>
    </div>
</div>

 <section class="pb-0" id="blog">
    <div class="container">

      <div class="row mt-50">


       <app-childitem *ngFor="let child of children" [child]="child"></app-childitem>

     
      </div>
    </div>
  </section>
  <!--=== Blogs End ===-->

