<div id="header-holder" class="innerpage grey-bg">
    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">Sponsor a child</div>
                    <div class="page-subtitle">Children from different orphanages</div>
                </div>
            </div>

        </div>
    </div>
</div>

 <section class="pb-0" id="blog">
    <div class="container">

      <div class="row mt-50">

        <div class="col-md-4">
          <div class="post">
            <div class="post-img"> <img class="img-responsive" src="../../../assets/images/sponsor/dynamite.jpg" alt=""/> </div>
            <div class="post-info">

              <div class="post-content"> 
	
              <h3><a href="">Dynamite</a></h3>
              </div>
              <div class="btn-align">
                <a class="hbtn hbtn-primary" href="#"><span>View Child Profile <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
            </div>
            </div>
        </div>
        <!--=== Post End ===-->

        <div class="col-md-4">
          <div class="post">
            <div class="post-img"> <img class="img-responsive" src="../../../assets/images/sponsor/Einstein.jpg" alt=""/> </div>
            <div class="post-info">
              <div class="post-content"> 
              <h3><a href="">Einstein</a></h3>
              </div>
              <div class="btn-align">
                <a class="hbtn hbtn-primary" href="#"><span>View Child Profile <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
              </div>
            </div>
        </div>
        <!--=== Post End ===-->

        <div class="col-md-4">
            <div class="post">
              <div class="post-img"> <img class="img-responsive" src="../../../assets/images/sponsor/elsa.jpg" alt=""/> </div>
              <div class="post-info">
                <div class="post-content"> 
                <h3><a href="">Elsa</a></h3>
                </div>
                <div class="btn-align">
                  <a class="hbtn hbtn-primary" href="#"><span>View Child Profile <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
                </div>
              </div>
          </div>
        
           <!--=== Post End ===-->

        <div class="col-md-4">
            <div class="post">
              <div class="post-img"> <img class="img-responsive" src="../../../assets/images/sponsor/erenYeager.jpg" alt=""/> </div>
              <div class="post-info">
  
                <div class="post-content"> 
                <h3><a href="">Kingdom Life Child and Youth Centre</a></h3>
                </div>
                <div class="btn-align">
                  <a class="hbtn hbtn-primary" href="#"><span>View Child Profile <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
              </div>
              </div>
          </div>
          <!--=== Post End ===-->
  
          <div class="col-md-4">
            <div class="post">
              <div class="post-img"> <img class="img-responsive" src="../../../assets/images/sponsor/jim.jpg" alt=""/> </div>
              <div class="post-info">
                <div class="post-content"> 
                <h3><a href="">Jim</a></h3>
                </div>
                <div class="btn-align">
                  <a class="hbtn hbtn-primary" href="#"><span>View Child Profile <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
                </div>
              </div>
          </div>
          <!--=== Post End ===-->
  
          <div class="col-md-4">
              <div class="post">
                <div class="post-img"> <img class="img-responsive" src="../../../assets/images/sponsor/tommy.jpg" alt=""/> </div>
                <div class="post-info">
                  <div class="post-content"> 
                  <h3><a href="">Tommy</a></h3>
                  </div>
                  <div class="btn-align">
                    <a class="hbtn hbtn-primary" href="#"><span>View Child Profile <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
                  </div>
                </div>
            </div>
     
      </div>
    </div>
  </section>
  <!--=== Blogs End ===-->

