<div id="header-holder" class="innerpage grey-bg">
    <div class="cloud-bg"></div>
      <div id="top-content" class="container-fluid">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="page-title">Donate</div>
                      <div class="page-subtitle">“Donate now and change lives today!”</div>
                  </div>
              </div>
              <div class="clouds">
                <img src="../../../assets/images/cloud1.svg" alt="" class="cloud1">
                <img src="../../../assets/images/cloud2.svg" alt="" class="cloud2">
                <img src="../../../assets/images/cloud3.svg" alt="" class="cloud3">
            </div>
          </div>
      </div>
  </div>

<div>
    <div class="donation-page-wrapper">

        <div class="donation-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="donation-form bgcolor-theme3">
                            <div class="section-title">
                                <h5 class="subtitle line-theme-color mb-14">Make A Donation</h5>
                                <h2 class="title text-white">Donate Now</h2>
                                <img src="../../../assets/images/line-t3.png" alt="image" class="line-shape">
                            </div>
                            <form>
                                <div class="amount-info">
                                    <button class="donate-amount" (click)="updateAmount(100)">R100</button>
                                    <button class="donate-amount" (click)="updateAmount(500)">R500</button>
                                    <button class="donate-amount" (click)="updateAmount(1000)">R1000</button>
                                    <button class="donate-amount" (click)="setCustom()">Custom</button>
                                    <br>
                                  
                                </div>
                                <div *ngIf="isCustom()">
                                    <input  name="amt"  (keyup)="onKey($event)" placeholder="Custom Amount" class="form-control"  required ngModel>
                                    
                                </div>
                                <div *ngIf="isSelected()">
                                    <label>Amount Chosen:</label>
                                    <span>{{amountchosen}}</span>
                                </div>
                               <div *ngIf="amountErr">
                               <p style="color: red;">Choose a valid amount to donate</p>
                               </div>
                                <div class="payment-method-wrp">
                                    <h4>Payment Method:</h4>
                                    <div class="payment-method">
                                        <div class="payment-type">
                                            <div class="form-check form-check-inline">
                                                <input type="radio" (click)="updateType('card')" name="inlineRadioOptions" id="inlineRadio1" value="option1" class="form-check-input">
                                                <label for="inlineRadio1" class="form-check-label">Credit Card</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input type="radio"  (click)="updateType('paypal')" name="inlineRadioOptions" id="inlineRadio2" value="option2" class="form-check-input">
                                                <label for="inlineRadio2" class="form-check-label">Paypal</label>
                                            </div>
                                        </div>
                                      
                                    </div>
                                </div>
                                <div *ngIf="isCardPayment()" class="personal-info">
                                    <h4>Personal Info:</h4>
                                    <div class="row row-gutter-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="con_name" placeholder="Name On Card" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input  type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="Credit Card Numb" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="exp_year" placeholder="Exp Year" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="exp_month" placeholder="Exp Month" class="form-control">
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="cvv" placeholder="CVV" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               

                                    <div id="paypal"></div>
                               
                                <div *ngIf="!isPaypal()" class="btn-wrp">
                                    <!-- <a href="#" class="btn-theme" data-bs-toggle="modal" data-bs-target="#payNeed-modal">Donate Now
                                    </a> -->
                                    <button class="btn-theme hbtn hbtn-primary" >Donate Now
                                    </button>
                                    <a hidden href="#" class="hbtn hbtn-primary">Total Donation: R500</a>
                                </div>
                              
                            </form>
                            <div hidden class="layer-style">
                                <img src="" alt="image" class="layer-style1">
                                <img src="" alt="image" class="layer-style2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!---->
    </div>
</div>