<div id="header-holder" class="innerpage grey-bg">
    <div class="cloud-bg"></div>
      <div id="top-content" class="container-fluid">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="page-title">Donate</div>
                      <div class="page-subtitle">Make a donation</div>
                  </div>
              </div>
              <div class="clouds">
                <img src="../../../assets/images/cloud1.svg" alt="" class="cloud1">
                <img src="../../../assets/images/cloud2.svg" alt="" class="cloud2">
                <img src="../../../assets/images/cloud3.svg" alt="" class="cloud3">
            </div>
          </div>
      </div>
  </div>

<div>
    <div class="donation-page-wrapper">

        <div class="donation-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="donation-form bgcolor-theme3">
                            <div class="section-title">
                                <h5 class="subtitle line-theme-color mb-14">Make A Donation</h5>
                                <h2 class="title text-white">Donate Now</h2>
                                <img hidden src="" alt="image" class="line-shape">
                            </div>
                            <form>
                                <div class="amount-info">
                                    <div class="donate-amount">R100</div>
                                    <div class="donate-amount">R500</div>
                                    <div class="donate-amount">R1000</div>
                                    <div class="donate-amount donate-custom-amount">
                                        <input placeholder="Custom" class="form-control">
                                    </div>
                                </div>
                                <div class="payment-method-wrp">
                                    <h4>Payment Method:</h4>
                                    <div class="payment-method">
                                        <div class="payment-type">
                                            <div class="form-check form-check-inline">
                                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" class="form-check-input">
                                                <label for="inlineRadio1" class="form-check-label">Credit Card</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" class="form-check-input">
                                                <label for="inlineRadio2" class="form-check-label">Paypal</label>
                                            </div>
                                        </div>
                                        <img hidden src="../images/photos/payment-card.png" alt="image">
                                    </div>
                                </div>
                                <div class="personal-info">
                                    <h4>Personal Info:</h4>
                                    <div class="row row-gutter-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="con_name" placeholder="Name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" name="con_email" placeholder="Email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="con_phone" placeholder="Phone" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input name="con_address" placeholder="Address" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group mb-0">
                                                <textarea name="con_message" placeholder="Message" class="form-control textarea"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-wrp">
                                    <a href="#" class="btn-theme" data-bs-toggle="modal" data-bs-target="#payNeed-modal">Donate Now
                                    </a>
                                    <a hidden href="#" class="btn-theme  btn-border">Total Donation: R500</a>
                                </div>
                            </form>
                            <div hidden class="layer-style">
                                <img src="" alt="image" class="layer-style1">
                                <img src="" alt="image" class="layer-style2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!---->
    </div>
</div>