<td >
    <b>
     {{proposalTitle}}
    </b>
 
     
 </td>
<td>
  <span  *ngIf="isFlagged()" style="color: red;">
  {{proposal.registeredUser.FirstName}}
</span>
<span  *ngIf="!isFlagged()" style="color: black;" >
  {{ proposal.registeredUser.FirstName}} 
 </span> 
  <br> 
  <span  *ngIf="isFlagged()" style="color: red;">
    {{proposal.registeredUser.Phonenumber}}
  </span>
  <span  *ngIf="!isFlagged()" style="color: black;" >
   {{ proposal.registeredUser.Phonenumber}} 
  </span> 
  </td>
<td>{{proposal.NumberToGive}}</td>
<td>{{propDate}}</td>
<td>{{propTime}}</td>
<td>
   {{proposal.ProposalComment}}
</td>

<td>
  <span [style]="color()">
    {{ status}}
  </span>

</td>
<td>
    <div class="d-flex gap-2 ">
        <div *ngIf="!isFulfilled()">
            <div *ngIf="showConfirm()" class="d-flex gap-2 tableBtns">
      
                <div class=".hbtn .hbtn-primary">
                    <button  (click)="confirmProposal()" class="hbtn hbtn-primary">Confirm DropOff</button>
                </div>
           
            </div>
        
            <div *ngIf="!showConfirm()" class="d-flex gap-2 tableBtns">
              
                <div class=".hbtn .hbtn-primary">
                    <button  (click)="acceptProposal()" class="hbtn hbtn-primary">Approve</button>
                </div>
                <div class=".hbtn .hbtn-primary">
                    <button style="margin-top: 5px;" (click)="rejectProposal()" class="hbtn hbtn-primary">Reject</button>
                </div>
        
            </div>
    
        </div>
        <div *ngIf="isFulfilled()">
              No Action Needed
        </div>
  
    </div>
</td>