<ul class="mailbox-inbox" style="margin-bottom: 0px;">

    <li>
      <a href="#" class="item clearfix">
        <img src="../../../../assets/images/defaultImage.jpg" alt="img" class="img">
        <span class="from">Jonathan Doe</span>
        Hello, m8 how is goin ?
        <span class="date">22 May</span>
      </a>
    </li>

    <li>
      <a href="#" class="item clearfix">
        <img src="../../../../assets/images/defaultImage.jpg" alt="img" class="img">
        <span class="from">Max Doe</span>
        Problems look mighty small...
        <span class="date">22 May</span>
      </a>
    </li>

    <li>
      <a href="#" class="item clearfix">
        <img src="../../../../assets/images/defaultImage.jpg" alt="img" class="img">
        <span class="from">James Throwing</span>
        New job offer ?
        <span class="date">22 May</span>
      </a>
    </li>

    <li>
      <a href="#" class="item clearfix">
        <img src="../../../../assets/images/defaultImage.jpg" alt="img" class="img">
        <span class="from">Timmy Jefsin</span>
        Tonight Party
        <span class="date">22 May</span>
      </a>
    </li>

    <li>
      <a href="#" class="item clearfix">
        <img src="../../../../assets/images/defaultImage.jpg" alt="img" class="img">
        <span class="from">Heikan Jr. Dauffles</span>
        Funny Cat Videos
        <span class="date">22 May</span>
      </a>
    </li>

    <li>
      <a href="#" class="item clearfix">
        <img src="../../../../assets/images/defaultImage.jpg" alt="img" class="img">
        <span class="from">Jane Doe</span>
        Weekend
        <span class="date">22 May</span>
      </a>
    </li>

    <li>
      <a href="#" class="item clearfix">
        <img src="../../../../assets/images/defaultImage.jpg" alt="img" class="img">
        <span class="from">Jonathan Doe</span>
        Hello, m8 how is goin ?
        <span class="date">22 May</span>
      </a>
    </li>

</ul>