<!-- START TOP -->
<div id="topcontainer">
<div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
      <a href="index.html" class="logo"><img src="../../../../assets/images/SimamisaLogo1.svg" alt="Simamisa"></a>
      
    </div>
    <!-- End App Logo -->

    <!-- Start Sidebar Show Hide Button -->
    <a  class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a  class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->


    <!-- Start Top Right -->
    <div class="avatar-container">
    <app-avatar [name]="(UserName|async)"></app-avatar>
    <li hidden ><a href="home" routerLink="logout" class="hbtn hbtn-primary hbtn-lg">Logout</a></li>
    </div>
  
  
    <ul class="top-right" >

          <!-- Start Sidepanel Show-Hide Button -->
  <span class="sidepanel-open-button" >
    <a (click)="openNotification()" class="icon-button"  style="    box-shadow: 0 0px 10px rgb(0 0 0 / 20%)">
      <i style="color: #33241A;" class="fa fa-bell"></i>
      <span class="icon-button__badge">{{notificationNum}}</span>
    </a>
  </span>
    <!-- End Sidepanel Show-Hide Button -->



    </ul>
    <!-- End Top Right -->

  </div>
  <div>
  <!-- END TOP -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 


<!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START SIDEBAR -->
<div class="sidebar clearfix">

<ul class="sidebar-panel nav">
  <li class="sidetitle"></li>
  <li><a href="home" routerLink="home"><span class="icon color5"><i class="fa fa-home"></i></span>Home<span class="label label-default"> </span></a></li>
  <li><a href="dashboard" routerLink="dashboard"><span class="icon color5"><i class="fa fa-line-chart"></i></span>Dashboard<span class="label label-default"> </span></a></li>

  <li><a  href="orphanages" routerLink="orphanages"><span class="icon color6"><i class="fa-solid fa-house-chimney-user"></i></span>Orphanages<span class="label label-default"></span></a></li>
  <li><a ><span class="icon color7"><i class="fa fa-users"></i></span>Partnership<span class="caret"></span></a> 
    <ul>
      <li><a href="partners" routerLink="partners">My Partners</a></li>
      <li><a href="partnering-requests" routerLink="partnering-requests">Partnering Requests</a></li>
      <li><a href="my-offers" routerLink="my-offers">My Offers</a></li>
    </ul>
  </li>
  <li><a href="newsfeed" routerLink="newsfeed"><span class="icon color8"><i class="fa fa-newspaper-o"></i></span>Newsfeed</a></li>
  <li><a href="proposals" routerLink="item-proposals"><span class="icon color8"><i class="fa fa-handshake-o"></i></span>Proposals</a></li>
 
  <li><a ><span class="icon color9"><i class="fa fa-child"></i></span>Sponsorship<span class="caret"></span></a>
    <ul>
      <li ><a href="sponsor-request" routerLink="sponsor-request">Sponsoring Requests</a></li>
      <li hidden><a href="meeting-calendar" routerLink="meeting-calendar">Meeting Calendar</a></li>
      <li hidden><a href="children-profile-queries" routerLink="children-profile-queries">Children's Profile Queries</a></li>
      <li><a href="children" routerLink="children">Children's Needs</a></li>
    </ul>
  </li>

 
</ul>


</div>
<!-- END SIDEBAR -->
<!-- //////////////////////////////////////////////////////////////////////////// --> 

 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTENT -->
<div class="content">


 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTAINER -->
<div class="container-widget">
  <router-outlet></router-outlet>

  <app-modal-make-offer></app-modal-make-offer>
  <app-modal-accept-offer></app-modal-accept-offer>
  <app-edit-need></app-edit-need>
  <app-edit-childneed></app-edit-childneed>
  <app-edit-childupdate></app-edit-childupdate>
</div>
<!-- END CONTAINER -->
 <!-- //////////////////////////////////////////////////////////////////////////// --> 
 <!-- START SIDEPANEL: NOTIFICATIONS-->
<div role="tabpanel" class="sidepanel">

  <!-- Nav tabs -->


  <!-- Tab panes -->
  <div class="tab-content">

    <!-- Start Today -->
    <div role="tabpanel" class="tab-pane active" id="today">


      <div class="gn-title">Nofications</div>
      <div  *ngIf="loaderService.isLoading | async" class="row" >
        <div class="col-sm-12">
        <div style="margin-left:50px;margin-top:30px;margin-bottom:30px">
            <app-loading-indicator></app-loading-indicator>
        </div>
    
    </div>
  </div>
      <ul class="list-w-title" style="background: rgba(254,248,245,0.2);">
        <li *ngFor="let newNotification of newNotifications?.slice(0,numNewNotifications)" style="background: #fef5ef">
          <a href="#">
           <span class="label label-danger">New</span> 
            <span class="date" style="margin-bottom: 10px">{{newNotification?.NotificationTime?.slice(0,10)}} {{newNotification?.NotificationTime?.slice(11,16)}}</span>
            <h4>{{newNotification?.Title}}</h4>
           {{newNotification?.Body}}
          </a>
        </li>
        <li *ngFor="let oldNotification of oldNotifications?.slice(0,maxOffset)">
          <a href="#">
           <span class="label label-danger"></span> 
            <span class="date" style="margin-bottom: 10px">{{oldNotification?.NotificationTime?.slice(0,10)}} {{oldNotification?.NotificationTime?.slice(11,16)}}</span>
            <h4>{{oldNotification?.Title}}</h4>
           {{oldNotification?.Body}}
          </a>
        </li>
      </ul>


    </div>
    <!-- End Today -->




  </div>

</div>
<!-- END SIDEPANEL -->




<!-- Start Footer -->
<div class="row footer">
  <div class="col-md-3 text-left">
    <i class="mdi mdi-phone" style="font-size: 20px;"></i> <p style="display: inline">+27 34 384 249 </p>
  </div>
  <div class="col-md-3">
    <div class="row">
    <i class="mdi mdi-map-marker"  style="font-size: 20px;"></i> <p style="display: inline">Kingway Road, 2092 Johannesburg, APK Campus</p>
  </div> 
 </div>

 <div class="col-md-3">
  <i class="mdi mdi-email" style="font-size: 20px;"></i> <p style="display: inline"><a href="#">bitreapers01@gmail.com</a></p>
</div>
 
  <div class="col-md-3 text-right">
  
    ©  2022 Simamisa by <a href="" target="_blank">BitReapers</a> All rights reserved.
  </div> 
</div>
<!-- End Footer -->

</div>
