.dashtainer {
    padding: 20px;
    background: #FAFAFA;
    margin: 10px;
    border-radius: 10px;
}
.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    
  }
  
  .col {
    display: table-cell; /* Make elements inside the container behave like table cells */
  }
  .dashHeading{
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    opacity: 0.8;
  }