
<app-modal-calcgas></app-modal-calcgas>
<div class="page-header" >
    <h1 class="title">Dashboard</h1>
      <ol hidden class="breadcrumb">
        <li class="active" >My Orphanage Partners</li>
        <div class="mt-3 mt-md-0">
          <!--<button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#custom-modal" (click)="openModal()" ><span class="iconify" data-icon="mdi:plus-circle"></span> Add New Need</button> -->
      </div>
    </ol>
 
  </div>
 
 <div class="dashtainer">
 <div class="col-container">
  
  <div class="col-sm-4 col-xs-4"> 
    <div class="tile-stats tile-red" style="height:170px"> 
      <div class="icon"><i class="entypo-home"></i></div>
         <div class="num">{{pickups}}</div>
          <h3>Pickup(s)</h3>
           <p>in the next 7 days</p>
   </div> 
    <!-- <app-doughnut-chart-proposals></app-doughnut-chart-proposals> -->
   </div>
   <div class="col-sm-4 col-xs-4"> 
    <div class="tile-stats tile-blue" style="height:170px"> 
      <div class="icon"><i class="entypo-home"></i></div>
         <div class="num">{{dropoffs}}</div>
          <h3>Dropoff(s) </h3>
           <p>in the next 7 days</p>
   </div> 
    <!-- <app-doughnut-chart-proposals></app-doughnut-chart-proposals> -->
   </div>
   <div class="col-sm-4 col-xs-4">
    <div class="tile-stats tile-green" style="height:170px"> 
      <div class="icon"><i class="entypo-home"></i></div>
         <div class="num">R{{x}}</div>
          <h3>Rands</h3>
           <p >for petrol/diesel estimated  <button style="background: #FF7B29; border: none; margin: 5px 5px 5px" type="button" data-bs-toggle="modal" data-bs-target="#calcgas"  >Calculate</button>
           </p>
              
   </div> 
     <!-- <app-pie-chart-donor-gender></app-pie-chart-donor-gender> -->

 </div>
 
 
 </div>
    <!-- <div class="dashHeading">Needs Proposed Versus Need Met</div>
    <div>
       <app-line-chart-needs></app-line-chart-needs>
   </div> -->

   <div class="dashHeading">Sponsor Accountability</div>
   <div  style="margin: 20px 0px;">
    <app-sponsor-accountability></app-sponsor-accountability>
    </div>

   <div class="dashHeading">Unfulfilled Proposals</div>
   <div style="margin: 20px 0px;">
    <app-table-unreliable-users></app-table-unreliable-users>
    </div>
    <!-- <div class="dashHeading">Inventory</div>
   <div  style="margin: 20px 0px;">
    <app-table-inventory></app-table-inventory>
    </div> -->
  
 </div>