
<div class="page-header" >
    <h1 class="title">Dashboard</h1>
      <ol hidden class="breadcrumb">
        <li class="active" >My Orphanage Partners</li>
        <div class="mt-3 mt-md-0">
          <!--<button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#custom-modal" (click)="openModal()" ><span class="iconify" data-icon="mdi:plus-circle"></span> Add New Need</button> -->
      </div>
    </ol>
 
  </div>
 
 <div class="dashtainer">
 <div class="col-container">
  <div class="col-sm-6 col-xs-6"> 
    <app-doughnut-chart-proposals></app-doughnut-chart-proposals>
   </div>
   
   <div class="col-sm-6 col-xs-6">
     <app-pie-chart-donor-gender></app-pie-chart-donor-gender>

 </div>
 
 
 </div>
 
      <div>
          <app-line-chart-needs></app-line-chart-needs>
   </div>
   <div>
    <app-table-orphanages-needs></app-table-orphanages-needs>
    </div>
  
 </div>