<td>
                                                 
    <div class="need-image">
        <img src="{{childUpdate.PostImage }}" style=" width:100px" alt="Image">
    </div>

</td>
<td>{{childUpdate.Title}}</td>
<td>{{childUpdate.Description}}</td>
<td>{{childUpdate.PostDate.slice(0,10)}}</td>

<td>
<div class="d-flex gap-2">
  
    <div class=".hbtn .hbtn-primary">
        <a class="hbtn hbtn-primary" (click)="editChildUpdate()" data-bs-toggle="modal" data-bs-target="#editChildUpdate-modal">Edit <i class="far fa fa-pencil"></i></a>
    </div>
    <div class=".hbtn .hbtn-primary">
        
        <button  (click)="deleteChildNeed()" class="hbtn hbtn-primary">Delete<i class="fa fa-trash"></i></button>
    </div>
  
</div>
</td>
