
<div class="body">
<div id="header-holder">
    
    <a href="home" routerLink="home"><div class="logo-part" ><a class="navbar-brand" ><img href="home" routerLink="home" src="../../../assets/images/SimamisaLogo2.svg" alt="Simamisa"></a></div></a>
    <div class="continue-text">Log in to continue with Simamisa</div>
    <div  *ngIf="loaderService.isLoading | async" class="row" >
        <div class="col-sm-12">
            <div style="margin-left:130px; margin-bottom:30px">
                <app-loading-indicator></app-loading-indicator>
            </div>
        
        </div>
    </div>
    <div class="cloud-bg"></div>
    <div class="container">
        <div class="forms">
            <div class="form login"  >
                <span class="title">Login</span>
               
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" name="email" ngModel required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Enter your password" name="password" ngModel required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                       
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Login Now">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="#" routerLink="register" class="text signup-link">Signup now</a>
                    </span>
                </div>
            </div>

            <!-- Registration Form -->
            <div class="form signup" >

                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="#" class="text login-link">Signup now</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>