  <!-- Start Page Header -->
  <div class="page-header">
    <h1 class="title">Sponsorship</h1>
      <ol class="breadcrumb">
        <li class="active">Mailbox : Child Profile Queries</li>
      </ol>

    <!-- Start Page Header Right Div -->
    <div class="right">
      <a href="#" class="btn btn-danger"><i class="fa fa-pencil"></i> COMPOSE</a>
    </div>
    <!-- End Page Header Right Div -->

  </div>
  <!-- End Page Header -->

 <!-- //////////////////////////////////////////////////////////////////////////// --> 
<!-- START CONTAINER -->
<div class="container-mail">



<!-- Start Mailbox -->
<div class="mailbox clearfix">

  <!-- Start Mailbox Menu -->
  <div class="mailbox-menu">
    <ul class="menu">
      <li><a href="#"><i class="fa fa-inbox"></i> Inbox</a></li>
      <li><a href="#"><i class="fa fa-flag-o"></i> Important</a></li>
      <li><a href="#"><i class="fa fa-paper-plane-o"></i> Sent</a></li>
      <li><a href="#"><i class="fa fa-trash"></i> Trash</a></li>
    </ul>
    
  </div>
  <!-- End Mailbox Menu -->

  <!-- Start Mailbox Container -->
  <div class="container-mailbox">

        <!-- Start Mailbox Inbox -->
       <app-child-profile-queriers></app-child-profile-queriers>
        <!-- End Mailbox Inbox -->

        <!-- Start Chat -->
        <app-query-chat></app-query-chat>
        <!-- End Chat -->

  </div>
  <!-- End Mailbox Container -->

</div>
<!-- End Mailbox -->


</div>
<!-- END CONTAINER -->