<div class="body">
    <div id="header-holder">
    <div class="cloud-bg"></div>
    <div class="logo-part"><a class="navbar-brand" href="index.html"><img src="../../../assets/images/SimamisaLogo2.svg" alt="Simamisa"></a></div>
    <div class="continue-text">Register to continue with Simamisa</div>
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Register</span>

                <form action="#">
					<div class="input-field">
						<input type="text" id="name" runat="server" placeholder="Enter your name" required>
						<i class="uil uil-user"></i>
					</div>
				   <div class="input-field">
						<input type="text" id="surname" runat="server" placeholder="Enter your surname" required>
						<i class="uil uil-user"></i>
					</div>
				  <div class="input-field">
						<input type="text" id="dob" runat="server"  class="date-input" placeholder="Enter your date of birth" onfocus="(this.type='date')" required>
						<i class="uil uil-calendar-alt"></i>
					</div>
				  <div class="input-field">
						<input type="text" id="address" runat="server" placeholder="Enter your address" required>
						<i class="uil uil-location-pin-alt"></i>
					</div>
					<div class="input-field">
						<input type="text" id="email" runat="server" placeholder="Enter your email" required>
						<i class="uil uil-envelope icon"></i>
					</div>
					  <div class="input-field">
						<input type="text" id="phone" runat="server" placeholder="Enter your phone number" required>
						<i class="uil uil-phone"></i>
					</div>
				
					<div class="input-field">
						<input type="password" id="password" runat="server" class="password" placeholder="Create a password" required>
						<i class="uil uil-lock icon"></i>
					</div>
					<div class="input-field">
						<input type="password" id="password_confirm" runat="server"  class="password" placeholder="Confirm a password" required>
						<i class="uil uil-lock icon"></i>
					</div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="sigCheck">
                            <label for="sigCheck" class="text">Remember me</label>
                        </div>
                        
                        
                    </div>

                    <div class="input-field button">
                        <input type="button" value="Register Now">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Already a member?
                        <a href="#" class="text signup-link">Login now</a>
                    </span>
                </div>
            </div>

            <!-- Registration Form -->
            <div class="form signup" >

                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="#" class="text login-link">Signup now</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
 </div>
</div>

