<div id="header-holder" class="innerpage grey-bg">
    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">Orphanage</div>
                    <div class="page-subtitle">Detail Page</div>
                </div>
            </div>

          
        </div>
    </div>
</div>   
   
   
   
   
   <!-- ==========Teacher Single Section Starts Here========== -->
    <section class="speaker-single-section padding-top padding-bottom">
        <div class="container">
            <div class="teacher-wrapper">
                <div class="teacher-single-top">
                    <div class="teacher-single-item d-flex flex-wrap justify-content-between">
                        <div class="teacher-single-thumb">
                            <img src="../../../assets/images/orphanages/SIMAMISA-O.png" alt="teacher">
                        </div>
                        <div class="teacher-single-content">
                            <h1 class="title" style="margin-bottom: 30px;">{{orphanage.OrphanageName}}</h1>
                            <p class="header-p">{{orphanage.OrphanageDescription}}</p>
                            <ul>
                                <li class="d-flex flex-wrap justify-content-start">
                                    <span class="list-name">Address</span>
                                    <span class="list-attr">{{orphanage.OrphanageAddress}}</span>
                                </li>
                                <li class="d-flex flex-wrap justify-content-start">
                                    <span class="list-name">Children</span>
                                    <span class="list-attr">{{orphanage.Children}}</span>
                                </li>
                                <li class="d-flex flex-wrap justify-content-start">
                                    <span class="list-name">Email</span>
                                    <span class="list-attr">{{orphanage.Email}}</span>
                                </li>
                                <li class="d-flex flex-wrap justify-content-start">
                                    <span class="list-name">Contact Number</span>
                                    <span class="list-attr">{{orphanage.ContactNumber}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>