	<!--====== Project Area Start ======-->
	<section class="project-section section-gap-extra-bottom primary-soft-bg">
		<div class="container">
            <div class="row project-items justify-content-center project-style-one">
				<div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item mb-30">
						<div class="thumb" style="background-image: url(../../../assets/images/newsfeed/jackets.jpg);"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Clothes</a>
							</div>
							<div class="author">
								<img src="../../../assets/images/orphanages/KingdomLife.png" alt="Thumb">
								<a href="#">Kingdom Life</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">Winter Jackets.</a>
							</h5>
							<div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">R59,689</span></span>
									<span class="stats-percentage">79%</span>
								</div>
								<div class="stats-bar" data-value="79">
									<div class="bar-line"></div>
								</div>
							</div>
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>
                <div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item mb-30">
						<div class="thumb" style="background-image: url(../../../assets/images/newsfeed/schoolshoe.jpg);"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Education</a>
							</div>
							<div class="author">
								<img src="../../../assets/images/orphanages/LighthouseBabyShelter.png" alt="Thumb">
								<a href="#">LightHouse Baby Shelter</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">School Shoes</a>
							</h5>
							<div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">R59,689</span></span>
									<span class="stats-percentage">87%</span>
								</div>
								<div class="stats-bar" data-value="87">
									<div class="bar-line"></div>
								</div>
							</div>
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>
                <div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item mb-30">
						<div class="thumb" style="background-image: url(../../../assets/images/newsfeed/stove.jpg);"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Appliances</a>
							</div>
							<div class="author">
								<img src="../../../assets/images/orphanages/NewJerusalem.jpg" alt="Thumb">
								<a href="#">New Jerusalema</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">Gas Stove</a>
							</h5>
							<div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">R59,689</span></span>
									<span class="stats-percentage">85%</span>
								</div>
								<div class="stats-bar" data-value="85">
									<div class="bar-line"></div>
								</div>
							</div>
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item mb-30">
						<div class="thumb" style="background-image: url(../../../assets/images/newsfeed/jackets.jpg);"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Clothes</a>
							</div>
							<div class="author">
								<img src="../../../assets/images/orphanages/KingdomLife.png" alt="Thumb">
								<a href="#">Kingdom Life</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">Winter Jackets.</a>
							</h5>
							<div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">R59,689</span></span>
									<span class="stats-percentage">79%</span>
								</div>
								<div class="stats-bar" data-value="79">
									<div class="bar-line"></div>
								</div>
							</div>
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>
                <div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item mb-30">
						<div class="thumb" style="background-image: url(../../../assets/images/newsfeed/schoolshoe.jpg);"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Education</a>
							</div>
							<div class="author">
								<img src="../../../assets/images/orphanages/LighthouseBabyShelter.png" alt="Thumb">
								<a href="#">LightHouse Baby Shelter</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">School Shoes</a>
							</h5>
							<div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">R59,689</span></span>
									<span class="stats-percentage">87%</span>
								</div>
								<div class="stats-bar" data-value="87">
									<div class="bar-line"></div>
								</div>
							</div>
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>
                <div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item mb-30">
						<div class="thumb" style="background-image: url(../../../assets/images/newsfeed/stove.jpg);"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Appliances</a>
							</div>
							<div class="author">
								<img src="../../../assets/images/orphanages/NewJerusalem.jpg" alt="Thumb">
								<a href="#">New Jerusalema</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">Gas Stove</a>
							</h5>
							<div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">R59,689</span></span>
									<span class="stats-percentage">85%</span>
								</div>
								<div class="stats-bar" data-value="85">
									<div class="bar-line"></div>
								</div>
							</div>
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item mb-30">
						<div class="thumb" style="background-image: url(../../../assets/images/newsfeed/jackets.jpg);"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Clothes</a>
							</div>
							<div class="author">
								<img src="../../../assets/images/orphanages/KingdomLife.png" alt="Thumb">
								<a href="#">Kingdom Life</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">Winter Jackets.</a>
							</h5>
							<div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">R59,689</span></span>
									<span class="stats-percentage">79%</span>
								</div>
								<div class="stats-bar" data-value="79">
									<div class="bar-line"></div>
								</div>
							</div>
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>
                <div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item mb-30">
						<div class="thumb" style="background-image: url(../../../assets/images/newsfeed/schoolshoe.jpg);"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Education</a>
							</div>
							<div class="author">
								<img src="../../../assets/images/orphanages/LighthouseBabyShelter.png" alt="Thumb">
								<a href="#">LightHouse Baby Shelter</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">School Shoes</a>
							</h5>
							<div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">R59,689</span></span>
									<span class="stats-percentage">87%</span>
								</div>
								<div class="stats-bar" data-value="87">
									<div class="bar-line"></div>
								</div>
							</div>
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>
                <div class="col-lg-4 col-md-6 col-sm-10">
					<div class="project-item mb-30">
						<div class="thumb" style="background-image: url(../../../assets/images/newsfeed/stove.jpg);"></div>
						<div class="content">
							<div class="cats">
								<a href="#">Appliances</a>
							</div>
							<div class="author">
								<img src="../../../assets/images/orphanages/NewJerusalem.jpg" alt="Thumb">
								<a href="#">New Jerusalema</a>
							</div>
							<h5 class="title">
								<a href="project-details.html">Gas Stove</a>
							</h5>
							<div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">R59,689</span></span>
									<span class="stats-percentage">85%</span>
								</div>
								<div class="stats-bar" data-value="85">
									<div class="bar-line"></div>
								</div>
							</div>
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
						</div>
					</div>
				</div>

                <div hidden class="col-12">
                    <div class="view-more-btn text-center mt-40">
                        <a href="project-details.html" class="main-btn bordered-btn">View More <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
			</div>
		</div>
	</section>
	<!--====== Project Area End ======-->