	<section class="project-section section-gap-extra-bottom primary-soft-bg">
		<div class="container">
			<div class="row justify-content-center project-items project-style-one">
				<div class="col-xl-10">
					<div class="project-item mb-30">
						<div class="thumb" style="background-image: url(../../../assets/images/newsfeed/jackets.jpg);"></div>
						<div class="content">

							<h4 class="title">
								<a href="project-details.html">Winter Jackets.</a>
							</h4>
							<div class="author">
								<img src="../../../assets/images/orphanages/KingdomLife.png" alt="Thumb">
								<a href="#">Kingdom Life</a>
							</div>	
							<div class="project-details-tab">
				
								<div class="description-content">
									<p class="description">
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corp oris suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illume.
										Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi temporadunt ut labore et dolore magnam aliquam quaerat voluptate enim ad minima veniam suscipit
									</p>
									<a class="read-more">
									   read more	
									</a>
							
								</div>
		
							</div>		
							<div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">$59,689</span></span>
									<span class="stats-percentage">79%</span>
								</div>
								<div class="stats-bar" data-value="79">
									<div class="bar-line"></div>
								</div>
							</div>
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
							
						</div>
						<div class="donation-btns">
						<button type="submit" class="main-btn">Donate Item <i class="far fa-arrow-right"></i></button>
						<button type="submit" class="main-btn">Donate Money <i class="far fa-arrow-right"></i></button>
						</div>
					</div>
				</div>

				<div class="col-xl-10">
					<div class="project-item mb-30">
						<div class="thumb" style="background-image: url(../../../assets/images/newsfeed/jackets.jpg);"></div>
						<div class="content">

							<h4 class="title">
								<a href="project-details.html">Winter Jackets.</a>
							</h4>
							<div class="author">
								<img src="../../../assets/images/orphanages/KingdomLife.png" alt="Thumb">
								<a href="#">Kingdom Life</a>
							</div>	
							<div class="project-details-tab">
				
								<div class="description-content">
									<p class="description">
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corp oris suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illume.
										Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi temporadunt ut labore et dolore magnam aliquam quaerat voluptate enim ad minima veniam suscipit
									</p>
									<a class="read-more">
									   read more	
									</a>
							
								</div>
		
							</div>		
							<div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">$59,689</span></span>
									<span class="stats-percentage">79%</span>
								</div>
								<div class="stats-bar" data-value="79">
									<div class="bar-line"></div>
								</div>
							</div>
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
							
						</div>
						<div class="donation-btns">
						<button type="submit" class="main-btn">Donate Item <i class="far fa-arrow-right"></i></button>
						<button type="submit" class="main-btn">Donate Money <i class="far fa-arrow-right"></i></button>
						</div>
					</div>
				</div>

				<div class="col-xl-10">
					<div class="project-item mb-30">
						<div class="thumb" style="background-image: url(../../../assets/images/newsfeed/jackets.jpg);"></div>
						<div class="content">

							<h4 class="title">
								<a href="project-details.html">Winter Jackets.</a>
							</h4>
							<div class="author">
								<img src="../../../assets/images/orphanages/KingdomLife.png" alt="Thumb">
								<a href="#">Kingdom Life</a>
							</div>	
							<div class="project-details-tab">
				
								<div class="description-content">
									<p class="description">
										Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corp oris suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illume.
										Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi temporadunt ut labore et dolore magnam aliquam quaerat voluptate enim ad minima veniam suscipit
									</p>
									<a class="read-more">
									   read more	
									</a>
							
								</div>
		
							</div>		
							<div class="project-stats">
								<div class="stats-value">
									<span class="value-title">Raised of <span class="value">$59,689</span></span>
									<span class="stats-percentage">79%</span>
								</div>
								<div class="stats-bar" data-value="79">
									<div class="bar-line"></div>
								</div>
							</div>
							<span class="date"><i class="far fa-calendar-alt"></i> 25 February 2021</span>
							
						</div>
						<div class="donation-btns">
						<button type="submit" class="main-btn">Donate Item <i class="far fa-arrow-right"></i></button>
						<button type="submit" class="main-btn">Donate Money <i class="far fa-arrow-right"></i></button>
						</div>
					</div>
				</div>

				
			</div>
		</div>
	</section>