<div class="page-header" >
    <h1 class="title">Orphanages</h1>
      <ol class="breadcrumb">
        <li class="active">All Orphanages</li>
        <div class="mt-3 mt-md-0">
          <!--<button type="button" class="btn btn-success waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#custom-modal" (click)="openModal()" ><span class="iconify" data-icon="mdi:plus-circle"></span> Add New Need</button> -->
      </div>
    </ol>

    <!-- Start Page Header Right Div -->
    <div hidden class="right">
      <div class="btn-group" role="group" aria-label="...">
        <a href="index.html" class="btn btn-light">View Needs</a>
        <a href="#" class="btn btn-light">View Events</a>
      </div>
    </div>
    <!-- End Page Header Right Div -->

  </div>
  <section class="event-area section-gap-extra-bottom">
    <div class="container" style="min-height: 420px;">

      <div  *ngIf="loaderService.isLoading | async" class="row" >
        <div class="col-sm-12">
            <div style="margin-left:400px;margin-top:30px;margin-bottom:30px">
                <app-loading-indicator></app-loading-indicator>
            </div>
        
        </div>
    </div>
  <app-vieworphanages-manager *ngFor="let orph of orphanages" [orphanage]="orph"></app-vieworphanages-manager>
   </div>
</section>
