
<div id="header-holder" class="innerpage grey-bg">
    <div class="cloud-bg"></div>
      <div id="top-content" class="container-fluid">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="page-title">Information Hub</div>
                      <div class="page-subtitle">Specific Post</div>
                  </div>
              </div>
              <div class="clouds">
                <img src="../../../assets/images/cloud1.svg" alt="" class="cloud1">
                <img src="../../../assets/images/cloud2.svg" alt="" class="cloud2">
                <img src="../../../assets/images/cloud3.svg" alt="" class="cloud3">
            </div>
          </div>
      </div>
  </div>

  <section class="blog-area section-gap-extra-bottom primary-soft-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="blog-post-details">
                    <div class="post-thumbnail">
                        <img src="../../../assets/images/infohub/family.jpeg" alt="Thumbnail">
                    </div>
                    <div class="post-content">
                        <ul class="post-meta">
                            <li>
                                <a href="#"><i class="far fa-user-circle"></i>General</a>
                            </li>
                            <li>
                                <a href="#"><i class="far fa-calendar-alt"></i>25 February 2021</a>
                            </li>
                        </ul>
                        <h3 class="title">
                            The Importance of a Traditional Family Structure
                        </h3>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
                        </p>
      
                        <p>
                            These cases are perfectly simple and easy to distinguish. In a free hour when our power of choice untrammelled and when nothing prevents our being able to what we like best every pleasure is to be welcomed and every pain avoided in certain circumstances
                        </p>
                        <div class="post-footer mt-40">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <div class="related-tags">
                                        <span>Related Tags: </span>
                                        <a href="#">agency</a>
                                        <a href="#">funding</a>
                                        <a href="#">donate</a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="social-share">
                                        <span>Share: </span>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="comments-template">
                                <h4 class="template-title"> Comments</h4>
                                <ul class="comments-list">
                                    <li>
                                        <div class="comment-body">
                                            <div class="commentator-img">
                                                <img src="../../../assets/images/infohub/post/commet-01.jpg" alt="Author">
                                            </div>
                                            <div class="comment-content">
                                                <h5 class="commentator">John F. Medina</h5>
                                                <span class="date">25 May 2021</span>
                                                <p>
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium totam rem aperiam
                                                </p>
                                                <a href="#" class="reply-link">Reply <i class="far fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                        <ul class="children">
                                            <li>
                                                <div class="comment-body">
                                                    <div class="commentator-img">
                                                        <img src="../../../assets/images/infohub/post/commet-02.jpg" alt="Author">
                                                    </div>
                                                    <div class="comment-content">
                                                        <h5 class="commentator">Jeffrey T. Kelly</h5>
                                                        <span class="date">25 May 2021</span>
                                                        <p>
                                                            Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
                                                        </p>
                                                        <a href="#" class="reply-link">Reply <i class="far fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="comment-body">
                                            <div class="commentator-img">
                                                <img src="../../../assets/images/infohub/post/commet-03.jpg" alt="Author">
                                            </div>
                                            <div class="comment-content">
                                                <h5 class="commentator">Richard B. Zellmer</h5>
                                                <span class="date">25 May 2021</span>
                                                <p>
                                                    Unde omnis iste natus error sit voluptate accusantium dolore mque laudantium totam rem aperiam
                                                </p>
                                                <a href="#" class="reply-link">Reply <i class="far fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="comment-form">
                                    <h4 class="template-title">Leave A Message</h4>
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-field mb-20">
                                                    <input type="text" placeholder="Full Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-field mb-20">
                                                    <input type="text" placeholder="Email Address">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="input-field mb-20">
                                                    <input type="text" placeholder="Website URL">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="input-field mb-30">
                                                    <textarea placeholder="Write Message"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="input-field">
                                                    <button class="main-btn">Send Comments <i class="fa fa-arrow-right"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>