<div class="d-flex">

    <div class="dropdown d-inline-block">
        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="rounded-circle header-profile-user" src="../../../assets/images/avatar-1.jpg" alt="Header Avatar">
            <span class="d-none d-sm-inline-block ml-1">{{name}}</span>
        </button>
        
    </div>

</div>

<script src="../../../assets/avatarjs/jquery.min.js"></script>
<script src="../../../assets/avatarjs/bootstrap.bundle.min.js"></script>