<div class="d-flex">

    <div class="dropdown d-inline-block">
        <button type="button" class="btn header-item waves-effect dropdown-toggle" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="rounded-circle header-profile-user" src="../../../assets/images/avatar-1.jpg" alt="Header Avatar">
            <span class="d-none d-sm-inline-block ml-1">{{userName}}</span>
            <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right "  aria-labelledby="page-header-user-dropdown">
            <!-- item-->

            <a class="dropdown-item" (click)="logout()"><i class="mdi mdi-logout font-size-16 align-middle mr-1"></i> Logout</a>
        </div>
        
    </div>

</div>

<script src="../../../assets/avatarjs/jquery.min.js"></script>
<script src="../../../assets/avatarjs/bootstrap.bundle.min.js"></script>