<div class="d-flex">

    <div class="dropdown d-inline-block">
        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="rounded-circle header-profile-user" src="../../../assets/images/avatar-1.jpg" alt="Header Avatar">
            <span class="d-none d-sm-inline-block ml-1">George Smith</span>
            <i class="mdi mdi-chevron-down fa-lg d-none d-sm-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a hidden class="dropdown-item" href="#"><i class="mdi mdi-face-profile font-size-16 align-middle mr-1"></i> Profile</a>
            <a hidden class="dropdown-item" href="#"><i class="mdi mdi-credit-card-outline font-size-16 align-middle mr-1"></i> Billing</a>
            <a hidden class="dropdown-item" href="#"><i class="mdi mdi-account-settings font-size-16 align-middle mr-1"></i> Settings</a>
            <a hidden class="dropdown-item" href="#"><i class="mdi mdi-lock font-size-16 align-middle mr-1"></i> Lock screen</a>
            <div hidden class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="mdi mdi-logout font-size-16 align-middle mr-1"></i> Logout</a>
        </div>
    </div>

</div>

<script src="../../../assets/avatarjs/jquery.min.js"></script>
<script src="../../../assets/avatarjs/bootstrap.bundle.min.js"></script>