
<div class="header-holder">
    <div class="cloud-bg"></div>
    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-slider">
                        <div class="slide">
                            <div class="row rtl-row">
                                <div class="col-sm-5">
                                    <div class="img-holder">
                                        <img src="assets/images/family_illustrator.svg" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="b-text">Give today,<br>make tomorrow<br>better.</div>
                                    <div class="m-text">With over a hundred million orphanages worldwide,<br>
                                                        our goal is to bring them together, provide a<br>
                                                        platform for them to connect with sponsors, <br>
                                                        empower each other, and grow together.</div>
                                    <a href="/donate" routerLink="/donate" class="hbtn hbtn-primary hbtn-lg btn-donate" >Donate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="features container-fluid">
    <div class="container">
        <div class="row rtl-row">
            <div class="col-sm-5">
                <div class="img-holder">
                    <img src="assets/images/feature1.png" alt="">
                </div>
            </div>
            <div class="col-sm-7">
                <div class="feature-info">
                    <div class="feature-title">Become a volunteer!</div>
                    <div class="feature-text">Most of these children in orphanages understand that their situation is different from that of most other children and they often need the tenderness and sense of acceptance and love that they feel from volunteers. When you volunteer at an orphanage, you give the children much needed encouragement.</div>
                    <div class="feature-link"><a href="#" class="hbtn hbtn-default">Get Started!</a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="img-holder">
                    <img src="assets/images/feature2.png" alt="">
                </div>
            </div>
            <div class="col-sm-7 def-aligned">
                <div class="feature-info">
                    <div class="feature-title">Orphanage Partnership</div>
                    <div class="feature-text">Orphanage partnering can open up many oppuritunites. Imagine orphanages coming together, meeting each other's needs where possible, sharing resources, information and love amongst one another</div>
                    <div class="feature-link"><a href="#" class="hbtn hbtn-default">Learn More</a></div>
                </div>
            </div>
        </div>
        <div class="row rtl-row">
            <div class="col-sm-5">
                <div class="img-holder">
                    <img src="assets/images/feature3.png" alt="">
                </div>
            </div>
            <div class="col-sm-7">
                <div class="feature-info">
                    <div class="feature-title">Become a child sponsor!</div>
                    <div class="feature-text">Your participation is vital to every one of our children’s lives and for a sustainable future for them. Get involved today and be part of God’s work with Life Child.</div>
                    <div class="feature-link"><a href="#" class="hbtn hbtn-default">Get Started!</a></div>
                </div>
            </div>
        </div>
    </div>
  </div>

<app-ourteam></app-ourteam>