<app-modal-add-child-update (elementAdded)="onElementAdded($event)"></app-modal-add-child-update>

<div class="page-header">
    <h1 class="title">Sponsorship</h1>
    <ol class="breadcrumb" style="padding-left: 0px;">
        <li class="active">Children's Needs</li>
        <div class="mt-3 mt-md-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"><i
                    class="fa fa-times fa-lg" aria-hidden="true"></i></button>
        </div>
    </ol>

    <!-- Start Page Header Right Div -->

    <!-- End Page Header Right Div -->

</div>


<div class="page-content" style="padding-top: 20px;">
    <div class="container-fluid">

        <!-- start page title -->
        <!-- end page title -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="add-need-btn">
                        <button type="submit" class="hbtn hbtn-primary" title="Add Update" data-bs-toggle="modal"
                            data-bs-target="#addChildUpdate" (click)="openModal">Add Update</button>
                        <button type="button" id="close-add-update" class="btn btn-danger waves-effect waves-light"
                            data-bs-dismiss="modal" [hidden]="true"></button>

                    </div>
                    <div class="card-body">
                        <div *ngIf="loaderService.isLoading | async" class="row">
                            <div class="col-sm-12">
                                <div style="margin-left:500px;margin-top:30px;margin-bottom:30px">
                                    <app-loading-indicator></app-loading-indicator>
                                </div>

                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div *ngIf="isLoadedC" class="col-md-6">
                                <div class="mb-3">

                                    <div class="child-profile-image">
                                        <img [src]="child.Avatar"  alt="">
                                      
                                    </div>
                                    <h5 class="big-title">{{name }}'s Updates<span
                                            class="text-muted fw-normal ms-2"></span></h5>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="table-responsive mb-4">

                            <table *ngIf="show()" class="table table-bordered table-responsive"
                                style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                <thead>
                                    <tr>

                                        <th scope="col"></th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Date Modified</th>
                                        <th style="width: 80px; min-width: 80px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr app-child-update-item *ngFor="let update of childupdates" [childUpdate]="update"
                                        (elementDeleted)="onElementDeleted($event)">



                                    </tr>



                                </tbody>
                            </table>
                            <div *ngIf="!show()">
                                <img src="../../../../assets/images/empty.jpg">
                            </div>
                            <!-- end table -->
                        </div>
                        <!-- end table responsive -->
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
<!-- end main content-->

<!-- END layout-wrapper -->