
<div id="header-holder" class="innerpage grey-bg">
    <div id="top-content" class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">Information Hub</div>
                    <div class="page-subtitle">All Information Posts</div>
                </div>
                <div class="clouds">
                  <img src="../../../assets/images/cloud1.svg" alt="" class="cloud1">
                  <img src="../../../assets/images/cloud2.svg" alt="" class="cloud2">
                  <img src="../../../assets/images/cloud3.svg" alt="" class="cloud3">
              </div>
            </div>
   

        </div>
    </div>
</div>
 
 <!--=== InfoHub Start ===-->
  <section class="pb-0" id="blog">
    <div class="container">

      <div class="row mt-50">

        <div class="col-md-4">
          <div class="post">
            <div class="post-img"> <img class="img-responsive" src="../../../assets/images/infohub/family.jpeg" alt=""/> </div>
            <div class="post-info">

              <div class="post-content"> 
              <h3><a href="">The Importance of a Traditional Family Structure</a></h3>
              <p>The COVID-19 pandemic is a crisis like no other. It feels like a war, and in many ways it is.</p>
              <div class="date">7 hours ago</div>
              </div>

              <div class="btn-align">
              <a class="hbtn hbtn-tertiary" href="#"><span>Read More <i class="far fa-arrow-right"></i></span></a> </div>
            </div>
            </div>
        </div>
        <!--=== Post End ===-->

        <div class="col-md-4">
          <div class="post">
            <div class="post-img"> <img class="img-responsive" src="../../../assets/images/infohub/helping.jpeg" alt=""/> </div>
            <div class="post-info">
              <div class="post-content"> 
              <h3><a href="">Being a helping hand</a></h3>
              <p>The coronavirus continues to spread. As more countries impose quarantines and social distancing.</p>
              <div class="date">Yesterday</div>
              </div>
              <div class="btn-align">
              <a class="hbtn hbtn-tertiary" href="#"><span>Read More <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
              </div>
            </div>
        </div>
        <!--=== Post End ===-->

        <div class="col-md-4">
          <div class="post">
            <div class="post-img"> <img class="img-responsive" src="../../../assets/images/infohub/sadorphan.jpeg" alt=""/> </div>
            <div class="post-info">
              <div class="post-content"> 
              <h3><a href="">where is love?</a></h3>
              <p>Today we face economic upheaval potentially more severe than we witnessed during the global financial crisis.</p>
              <div class="date">January 21, 2020</div>
              </div>
              <div class="btn-align">
              <a class="hbtn hbtn-tertiary" href="#"><span>Read More <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
              </div>
           </div>
        </div>
        <!--=== Post End ===-->
        <div class="col-md-4">
          <div class="post">
            <div class="post-img"> <img class="img-responsive" src="../../../assets/images/infohub/post-01.jpg" alt=""/> </div>
            <div class="post-info">
              <h3><a href="">Economic Policies for the COVID-19 War</a></h3>
              <p>The COVID-19 pandemic is a crisis like no other. It feels like a war, and in many ways it is.</p>
              <div class="date">7 hours ago</div>
              <div class="btn-align">
              <a class="hbtn hbtn-tertiary" href="#"><span>Read More <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
              </div>
            </div>
        </div>
        <!--=== Post End ===-->

        <div class="col-md-4">
          <div class="post">
            <div class="post-img"> <img class="img-responsive" src="../../../assets/images/infohub/post-02.jpg" alt=""/> </div>
            <div class="post-info">
              <h3><a href="">The Importance of a Traditional Family Structure</a></h3>
              <p>The coronavirus continues to spread. As more countries impose quarantines and social distancing.</p>
              <div class="date">Yesterday</div>
              <div class="btn-align">
              <a class="hbtn hbtn-tertiary" href="#"><span>Read More <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
              </div>
          </div>
        </div>
        <!--=== Post End ===-->

        <div class="col-md-4">
          <div class="post">
            <div class="post-img"> <img class="img-responsive" src="../../../assets/images/infohub/post-03.jpg" alt=""/> </div>
            <div class="post-info">
              <h3><a href="">Where is love?</a></h3>
              <p>Today we face economic upheaval potentially more severe than we witnessed during the global financial crisis.</p>
              <div class="date">January 21, 2020</div>
              <div class="btn-align">
              <a class="hbtn hbtn-tertiary" href="#"><span>Read More <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
              </div>
          </div>
        </div>
        <!--=== Post End ===-->
     
      </div>
    </div>
  </section>
  <!--=== Blogs End ===-->

