<div id="header-holder" class="innerpage grey-bg">
      <div id="top-content" class="container-fluid">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="page-title">Orphanages</div>
                      <div class="page-subtitle">All orphanages</div>
                  </div>
              </div>

              <div class="clouds">
                <img src="../../../assets/images/cloud1.svg" alt="" class="cloud1">
                <img src="../../../assets/images/cloud2.svg" alt="" class="cloud2">
                <img src="../../../assets/images/cloud3.svg" alt="" class="cloud3">
            </div>
          </div>
      </div>
  </div>
<div class="search-row container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="search-question-holder">
                    <form>
                        <input class="search-input" type="text" placeholder="Search orphanage . . ."/><input type="submit" class="hbtn hbtn-primary btn-search" value="Search"/>
                    
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>
<app-modal-add-need></app-modal-add-need>
<app-vieworphanages *ngFor="let orph of orphanages" [orphanage]="orph"></app-vieworphanages>