<div *ngIf="isLoaded" id="header-holder" class="innerpage grey-bg">
      <div id="top-content" class="container-fluid">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="page-title">Orphanages</div>
                      <div class="page-subtitle">All orphanages</div>
                  </div>
              </div>

              <div class="clouds">
                <img src="../../../assets/images/cloud1.svg" alt="" class="cloud1">
                <img src="../../../assets/images/cloud2.svg" alt="" class="cloud2">
                <img src="../../../assets/images/cloud3.svg" alt="" class="cloud3">
            </div>
          </div>
      </div>
  </div>
<div class="search-row container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="search-question-holder">
                    <form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)">
                        <input class="search-input" name="name" type="text" placeholder="Search orphanage . . ." required ngModel/><input type="submit" class="hbtn hbtn-primary btn-search" value="Search"/>
                    
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>
<div  *ngIf="loaderService.isLoading | async" class="row" >
    <div class="col-sm-12">
        <div style="margin-left:500px;margin-top:30px;margin-bottom:30px">
            <app-loading-indicator></app-loading-indicator>
        </div>
    
    </div>
</div>

<app-vieworphanages></app-vieworphanages>