              
                                                        <td>
                                                            <div class="avatar-sm d-inline-block align-middle me-2">
                                                                <div class="avatar-title bg-soft-primary text-primary font-size-20 m-0 rounded-circle">
                                                                    <i class="bx bxs-user-circle"></i>
                                                                </div>
                                                            </div>
                                                            <a href="#" class="text-body">William Swift</a>
                                                        </td>
                                                        <td>Volunteer</td>
                                                        <td>williamswift@Dason.com</td>
                                                        <td>15 October 2022 | 14h00</td>
                                                        <td>
                                                            SunshineShite
                                                        </td>
                                                        <td>
                                                            <div class="d-flex gap-2">
                                                              
                                                                <div class=".hbtn .hbtn-primary">
                                                                    <a href="project-details.html" class="hbtn hbtn-primary ">Accept <i class="far fa-arrow-right"></i></a>
                                                                </div>
                                                                <div class=".hbtn .hbtn-primary">
                                                                    <a href="project-details.html" class="hbtn hbtn-primary ">Decline<i class="far fa-arrow-right"></i></a>
                                                                </div>
                                                              
                                                            </div>
                                                        </td>